[2020-01-17 05:04] alexhauser opened #1 "Improve identity parsing"
Hi Jose,

I've noticed that `SQRL.ImportSqrlIdentityFromFile(string file)` currently expects an identity file to have all 3 block types present. This is problematic, since most of the identities "in the wild" will not contain a block of type 3, since it will only present if an identity has been rekeyed at least once.

Also, the current parsing code expects the blocks to be present in a specific or

[2020-01-17 06:24] alexhauser commented on #1
Oh, and also, `SQRL.ImportSqrlIdentityFromFile(string file)` could be replaced by a public static method `SQRLIdentity.FromFile(String file)`, which would internally call another public static method `SQRLIdentity.FromByteArray(byte[] identityData)`. This would make it very flexible for the consumer of the library and is probably more intuitive than putting it in a utility function.

[2020-01-17 13:45] josegomez commented on #1
Thanks Alex,
This sounds good, my only qualm is I hate "magic strings" so I prefer to have a fixed class defined block types at least for the 3 block types we know.
We could use inheritance for this, so a "Generic" BlockType but then have Block1 and Block2 and Block3 inherit from there so that we could have fixed properties for these blocks?

I'll go look at your PR see how you approached it.

[2020-01-17 13:53] josegomez commented on #1
Looks like you already address both of my "issues" with your approach, awesome job! Let me know when you are ready for merging the PR!

Thank you!

[2020-01-17 14:51] alexhauser commented on #1
Yeah, seems like we're on the same page when it comes to architectural questions. Nice!

[2020-01-17 15:36] josegomez commented on #1
Fixed by PR #2

[2020-01-17 15:36] #1 closed

[2020-01-17 15:39] josegomez opened #3 "Update library documentation to reflect changes in Identity Import"
Need to update ReadMe to include new changes to Identity File Changes from PR #2

[2020-01-17 17:12] josegomez commented on #3
Fixed by commit https://github.com/sqrldev/SQRLDotNetClient/commit/22f2f8b3b4d113cc1d8e7d7b610d4f9f1bd0c6a9

[2020-01-17 17:12] #3 closed

[2020-01-17 17:41] josegomez opened #4 "Add support for Indexed Secret / Secret Index"
Currently the library doesn't support secret  / secret index. Most of the pieces are there and could probably be done but it would be nice to support it directly on any of the calls.

I'm moving my focus to the Client UI, so this is just an enhancement request for now.

[2020-01-18 19:28] alexhauser commented on #4
I'm about to implement the basic library part and the corresponding tests.

[2020-01-19 08:21] alexhauser opened #7 "Add support for base64url-encoded identities"
The crypto spec (https://www.grc.com/sqrl/SQRL_Cryptography.pdf) says on page 18:

We are lacking support for this at the moment.

[2020-01-19 16:58] #7 closed

[2020-01-20 14:56] alexhauser commented on #4
@josegomez, should we leave this issue open unil the protocol part is implemented, or do you find this issue is resolved?

[2020-01-20 17:11] josegomez commented on #4
Let's keep it open until we integrate it into the protocol. I'll work on that next.

[2020-01-23 22:51] josegomez opened #13 "Add Logging"
We should add logging capabilities (everywhere) it is getting harder and harder to debug issues particularly outside of Visual Studio having logging built in would be nice.

DotNetCore supports logging Factory so something in that vein one of the providers. Maybe Serilog? IDK just adding this issue for tracking purposes.

[2020-01-24 10:37] alexhauser commented on #13
Serilog looks good and seems to have a very clean API, so no objections here.

[2020-01-24 11:00] alexhauser opened #15 "Add localization support"
All the UI strings are currently hardcoded in English. While this is fine for this early stage of development, we should definitely add localization support at some point, before it gets out of hand.

Is there any "standard" way to approach localization in .NET Core?

[2020-01-24 11:31] josegomez commented on #15
Yup See
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization

[2020-01-24 15:38] josegomez commented on #15
@alexhauser  added support for localization, now we need to create the strings and update all the xaml See PR #16 16

[2020-01-24 17:04] alexhauser commented on #15
Nice, Jose, I will look into this as soon as I find some time!

[2020-01-27 22:23] josegomez opened #19 "SQRL scheme registration for Mac and Linux"
Registering the SQRL:// scheme for Mac and Linux takes an act of God... I haven't been able to get it to work.

[2020-01-28 06:26] alexhauser commented on #19
Have you seen this, @josegomez?
https://github.com/sqrldev/Linux-GRC-SQRL-Installer-Script/blob/master/sqrl-install.sh

Especially this part:

[code]

This is for enabling the sqrl:// scheme for the GRC client under Wine, but it sould give you an idea of how it should work.

Hope it helps.
Alex

[2020-01-28 16:53] josegomez commented on #19
Ok added Linux Installer script with commit d340b95

[2020-01-28 18:32] alexhauser commented on #19
Nice, so is the `sqrl://` scheme working now, @josegomez?

[2020-01-28 18:34] josegomez commented on #19
yes @alexhauser  on Linux if you use that installer script [Here](https://github.com/sqrldev/SQRLDotNetClient/blob/master/Installers/Linux/SQRL.sh)
It should register the scheme and everything.

Working on the Mac version now

[2020-02-01 19:01] markboston3502191 opened #20 "archlinux crashes"
the app crashes when i try to import my sqrl id.

[2020-02-01 19:29] josegomez commented on #20
Where are you importing from? Grcs client?

[2020-02-05 15:15] alexhauser opened #22 "Add documentation"
**Description:**

Add XML documentation to the following parts of the project's codebase:

- [x] Library (done)
- [x] Client (done)
- [x] Installer (done)

[2020-02-06 07:45] alexhauser opened #23 "Implement identity settings"
Implmement the UI and logic for changing identity settings.

[2020-02-06 13:31] #19 closed

[2020-02-06 13:31] josegomez commented on #4
Added and Merged.

[2020-02-06 13:31] #4 closed

[2020-02-06 13:32] josegomez opened #24 "Add Independent Installer UI / Project"
Create a Separate Project that uses Avalon UI to create a consistent installer that is platform aware, using the Releases in Git to download / install the latest release.

Give it support for Updating.

[2020-02-07 18:59] josegomez commented on #23
When you get to this let me know if you want a quick primer on Avalonia and how I setup the UI project. The Avalonia MVVM model etc can be kinda weird if you aren't familiar with it it's modeled after WPF so if you are familiar with that it should mostly translate but there are some quirks

[2020-02-07 19:38] alexhauser commented on #23
Thanks @josegomez, I'm going to work on this next, I have some MVVM and also some WPF experience so I guess it should be fine, but I'll definitely ping you if I get stuck somewhere!

[2020-02-10 18:29] alexhauser commented on #20
@markboston3502191, any chance of providing a little more info regarding the crash?

[2020-02-11 22:20] #23 closed

[2020-02-12 14:05] alexhauser opened #29 "Improve identity management"
The way identity loading and selection works at the moment is very limited. I'd like to add a (static or at least singleton) `IdentityManager` class that could handle all of the following:

- Platform-aware loading of multiple identities stored in the respective standard location
(e.g. `%USERPROFILE%\Documents\SQRL` on Windows)
- Keeping track of changes in the file system (e.g. for dynamically lo

[2020-02-12 14:15] josegomez commented on #29
There's a SQL lite DB which I already use to "remember" the last active identity, I have no problem with these changes but maybe we can leverage that, frankly if we wanted to we could store the whole identity there instead of the file system which can be capricious and un-predictiable.

Basically when an identity is imported or created, we store it in the DB and allow Export to file as needed? Not

[2020-02-12 14:15] alexhauser opened #30 "Offer library function overloads that bypass PBKDF"
This is something that came to mind while working on the library documentation:

In the library, for each function that takes a "plaintext" secret such as a _password_ or a _rescue code_, we should additionally offer an overloaded function that takes the precomputed PBKDF-derived key instead.

This should ensure maximum flexibility in chaining library functions without needing to waste time on EnS

[2020-02-12 14:38] alexhauser commented on #29
Thanks Jose, I am aware of the SQLite database, and it would indeed be a viable alternative to use it exclusively as an identity store and ditch the whole file system approach.

I'll give it some more thought and get back to you.

[2020-02-13 15:01] alexhauser commented on #29
Random thoughts that came to mind while thinking a little more about this:

- Database has the advantage of us fully controlling what happens with identities, since import and export are the only ways in/out
- Database has the advantage of being platform-agnostic, while file system would probably need some platform-dependent code
- Database is a little more complex and requires more maintainence (

[2020-02-13 15:10] josegomez commented on #29
Yeah I like the Db option better myself I like removing the operating / file system from the equation I'm already having to do some gymnastics around it and its a pain.
Particularly permissions are gnarly and could bite us in the rear end and as you stated users will just go delete random files and could find themselves without an identity randomly.

And if the database is in place and we are usin

[2020-02-13 15:19] alexhauser commented on #29
Very good points, @josegomez, I think I'll go with the database solution then!

[2020-02-15 15:42] CreateLab commented on #15
May U share link to file with localozation and I help with ru-Ru

[2020-02-21 19:52] #29 closed

[2020-02-22 15:22] alexhauser commented on #15
@CreateLab, thanks for your offer of helping out with the transalation and sorry for the late reply.

We've been a little sluggish regarding the localization topic, since we've been concentrating on getting the client and library feature complete. Once localization support is up though, we'll be glad to point you to the necessary resources.

[2020-02-23 08:41] CreateLab commented on #15
Ok, if need help, link me

[2020-02-23 16:44] alexhauser commented on #15
@josegomez, I'm in the process of adding proper localization support to my latest contributions, but I ran into a problem:

While playing around with adding a German translation, I found that the localization extension you've added doesn't seem to properly handle the German special characters like `ä, ü, ö ...` etc:

![umlaut_error](https://user-images.githubusercontent.com/4005543/75115883-2faf73

[2020-02-23 16:56] alexhauser commented on #15
Nevermind @josegomez, I just found that the json file was encoded in ANSI - how weird ist that?! Converted it to UTF-8 and everything is fine now!

[2020-02-23 17:47] josegomez commented on #15
Sweet that's weird sorry I've been afk this weekend

[2020-02-26 07:45] alexhauser commented on #15
@CreateLab, the latest PR added full localization of the client project, so if you are interested in providing a translation, you can do so by adding it to this file:

https://github.com/sqrldev/SQRLDotNetClient/blob/master/SQRLDotNetClientUI/Assets/Localization/localization.json

[2020-02-26 07:53] alexhauser commented on #15
@josegomez, I'm going to close this one for now as the main work for enabling continuous localization of the client is done. If we avoid using any hardcoded strings from now on, this should be it.

For the future, we could think about using something like https://poeditor.com/ to enable community translations. But I think we should only do this once the client has settled to a state where changes

[2020-02-26 07:53] #15 closed

[2020-02-26 07:55] alexhauser commented on #20
Going to close this one, since no feedback was provided and the import code has changed meanwhile anyway. @markboston3502191, if this still happens using the latest version from master, please re-open and let us know.

[2020-02-26 07:55] #20 closed

[2020-02-28 18:51] josegomez opened #33 "Add Schema Handler code in MAC for URL Invoke"
Finally found a solution to Invoking the application from a URL on a Mac witout depending on an external script. Need to implement it in the Client so I'm creating a PR for it.

[2020-02-29 08:46] alexhauser opened #36 "Add ability to change identity when authenticating"
**Description:**

If there is more than one identity available to the client, we should display the currently active identity name in the authentication dialog and offer the ability to switch identities before authenticating.

I'll be working on this next.

[2020-02-29 08:47] alexhauser opened #37 "Implement QuickPass"
We still need to implent SQRL's _QuickPass_ feature.

[2020-02-29 15:36] josegomez commented on #24
This has been merged onto Master. Could probably use some enhancements at some point.

[2020-02-29 15:36] #24 closed

[2020-02-29 15:47] josegomez opened #38 "Enhance CPS Behavior"
Right now CPS works but its pretty rudimentary for instance if CPS is running and a SQRL login action is started the browser hangs (as it should) waiting for a CPS Response.
However if the SQRL client closes or crashes the browser just goes to 404

We should handle that gracefully on exit any pending CPS requests need to be redirected to the cancel URL and things of that sort

[2020-02-29 15:49] josegomez opened #39 "Update ReadMe Documentation to Reflect Library Changes"
Since we are changing our SQRL Library Implementation to be mostly static, we need to update the documentation in the READ ME for simple use examples to reflect this change.

[2020-02-29 15:51] josegomez opened #40 "Add Unlock and Remove Functionality to Authentication"
Currently we can Lock / Disable SQRL but there is no unlock or remove feature implemented. This is mostly due to the need for the Rescue Code which wasn't available (UI) at the time.
I believe @alexhauser  has provided a UI prompt for these scenarios which means we can revisit this feature and fix soon.

[2020-02-29 15:55] josegomez opened #41 "Implement Re-Key Identity Feature"
ReKey Identity Feature needs to be implemented. Most of the logic exists in the SQRLConsoleTester project we just need to implement it in the UI.

[2020-02-29 15:56] josegomez commented on #40
I'll take this next, however I'll wait till PR #35 is Merged to Start

[2020-02-29 17:01] alexhauser commented on #38
Yeah... I have a local branch where I've already pimped the CPS server a little, like giving it `Start` and `Stop` methods and such.

Also, I have implemented the cancel behaviour on the Android client, so I have some assets readily available, like the HTML page that we can show upon cancellation, which already contains some JavaScript to redirect back after a while.

I'll dig up the stuff and pro

[2020-02-29 17:51] alexhauser commented on #38
Ok, so here is the link to the HTML that the Android client pushes to the browser if CPS gets cancelled but no cancellation URL is given:

https://github.com/kalaspuffar/secure-quick-reliable-login/blob/master/app/src/main/assets/cps_cancelled.html

... which looks something like this:

![cps_cancelled](https://user-images.githubusercontent.com/4005543/75612524-7a7a3100-5b24-11ea-9ed3-ae0f0657cfc3

[2020-03-01 20:48] alexhauser commented on #40
HA! @josegomez, assuming you have already started working on this one, and since I got in with #42 first, you'll be the one who has to do all the annoying rebasing/merging ;-)

Jokes aside, I hope you find my changes to the auth dialog are worth the trouble. But I guess it's all really well structured at this point and rebasing your unlock/remove changes to my updates shouldn't be too much of a ha

[2020-03-01 20:48] josegomez commented on #40
They are awesome @alexhauser merge it and I'll rebase (haha story of my life, no worries)

[2020-03-01 20:51] alexhauser commented on #40
Just merged #42 @josegomez, looking forward to seeing your additional protocol features put in!

[2020-03-01 20:51] #36 closed

[2020-03-01 20:53] alexhauser commented on #33
@josegomez, this is solved in #34, right? Shall we close it?

[2020-03-01 20:54] alexhauser commented on #39
@josegomez, going to tackle this one next, should be a quickie.

[2020-03-01 20:54] josegomez commented on #33
Yup!

[2020-03-01 20:54] #33 closed

[2020-03-02 12:27] alexhauser opened #46 "Enable manual language selection"
Currently, the language/translation which gets loaded is determined solely by the system's `CultureInfo.CurrentCulture`.

We should let the user select between the available translations manually.

[2020-03-02 12:28] #39 closed

[2020-03-02 13:16] josegomez commented on #40
Solved by #44

[2020-03-02 13:16] #40 closed

[2020-03-02 13:17] josegomez opened #47 "Write our own MessageBox Implementation to allow for Localization"
As noted in #45 we need to write our own messagebox implementation to fix a few bugs including allowing localization for messages.

[2020-03-02 13:44] alexhauser commented on #37
@josegomez, I'm going for this one next!

[2020-03-02 14:10] josegomez commented on #47
I'll tackle this

[2020-03-03 21:30] alexhauser commented on #13
@josegomez, just letting you know that since I will need solid logging to be in place for the QuickPass feature implementation, I am going to integrate Serilog support along with the QuickPass implementation.

[2020-03-04 15:00] josegomez commented on #13
Awesome @alexhauser

[2020-03-11 15:23] alexhauser opened #49 "Identity import does not honor custom identity settings"
When importing an identity with non-default settings in block 1, those settings are being overwritten with default values. This is a bug and should be fixed.

[2020-03-11 15:35] alexhauser opened #50 "Decryption of block 2 fails"
If you follow these steps:

- Import an identity using rescue code XYZ, set new password
- Use this identity to lock your account on GRC's demo page
- Try to unlock the account using the same identity

you will find that the same rescue code XYZ won't decrypt block 2.
Something is wrong here, haven't looked at it yet, but wanted to note it down.

[2020-03-11 15:41] alexhauser opened #51 "Implement system event notifications for QuickPass on all platforms"
### Description:
Implement system event notifications for system events which are relevant to clearing _QuickPass_-related data from RAM (like user logoff, user switching, idle state ...) on all platforms:

- [x] Windows (Implemented in #48)
- [x] Linux (Implemented in #63)
- [x] MacOS (Implemented in #62)

This should be done by creating an implementation for the `ISystemEventNotifier` interface

[2020-03-11 15:44] alexhauser opened #52 "Implement notification icon for all platforms"
### Description:
Implement taskbar/panel/dock notification icon on all platforms. The goal is to have the app running "in the background" while having an easy way to activate it.

- [x] Windows (Implemented in #48)
- [x] Linux (Implemented in #58 )
- [x] MacOS (Implemented in #55)

This should be done by creating an implementation for the `INotifyIcon` interface for each platform.

[2020-03-11 17:49] josegomez commented on #50
So I had a similar issue before and it was we weren't "cleaning" the rescue code (removing dashes etc) in some places. I wonder if that's the issue here?
Maybe on import we are not cleaning up the rescue code when we re-encrypt, then when we try to decrypt we do clean it and it fails.

[2020-03-11 17:52] josegomez commented on #47
So @alexhauser a bit of thought here, I've been working on this and failing miserably because Avalonia (thus far) doesn't do great with dynamic window sizing across multiple-platforms.

Would you be ok if we just make a standard message box size for this application? I was trying to make it dynamic but when it works well in windows it fails in nix and vise versa

Maybe we can have MessageBoxSmall,

[2020-03-11 17:55] alexhauser commented on #50
Yeah, probably something trivial like that. Going to investigate a little later.

[2020-03-11 18:05] alexhauser commented on #47
Sure, no problem @josegomez! I've also experienced that Avalonia can be a little frustrating when it comes to sizing/positioning etc. Probably not even their fault, since the layout-/window-managers are so vastly different on each platform.

Yeah, that would probably take away the greatest pain of having to use a "one size fits all" messagebox. Would you implement this as an optional parameter in

[2020-03-11 18:06] #37 closed

[2020-03-11 18:07] #13 closed

[2020-03-11 18:08] josegomez commented on #47
Yeah maybe default to medium and have the option to change it on the constructor.

[2020-03-11 18:14] alexhauser commented on #47
By the way @josegomez, do you already have confirmation that the "_main form losing focus after opening and closing a dialog window_" was really caused by the old messagebox implementation? I think I might have seen this behaviour elsewhere while testing yesterday - without the involvement of the old messagebox - but I can't recall what I did to provoke it.

[2020-03-11 18:20] josegomez commented on #47
@alexhauser no I haven't confirmed (or denied) this yet. Was working on getting a new messagebox before I replaced the old one. I'll do some testing maybe its the fact of invoking a window (at all)

[2020-03-12 02:11] josegomez commented on #47
@alexhauser  I verified it is indeed the messagebox and it does'nt happen with the new one.

[2020-03-12 14:22] josegomez commented on #47
This has been resolved by #53 waiting for review to merge / close

[2020-03-12 14:22] josegomez commented on #52
I'll take this for the Mac next. @alexhauser

[2020-03-12 14:58] josegomez commented on #47
Merged

[2020-03-12 14:58] #47 closed

[2020-03-12 14:58] alexhauser commented on #52
Cool, can't wait to see what you'll come up with @josegomez!

[2020-03-12 15:24] alexhauser opened #54 "Replace tuples with specialized classes in the library"
In the library, we use `Tuple`s in a few places, mainly for returning multiple values from a function.

This makes the calling code rather hard to read, since it introduces names like `result.Value1` which tell you nothing about what that variable actually contains.

I would therefore suggest to replace those `Tuple` intances with specialized classes with properly named properties.

[2020-03-12 21:09] josegomez commented on #52
@alexhauser Working on Linux version...
I have no earthly idea how well it will work particularly since there's GNOME, and KDE and about a thousand other Desktop Environments.
I'm writing this to work on Ubuntu and everything else if it works.. well... great LoL

Too many flavors of Linux

[2020-03-13 05:39] alexhauser commented on #50
Fixed in #56.

[2020-03-13 05:39] #50 closed

[2020-03-13 14:03] #49 closed

[2020-03-13 14:54] josegomez commented on #52
Implemented Linux in #58

[2020-03-13 15:30] alexhauser commented on #54
@josegomez, I'm currently working on this one.

[2020-03-13 16:14] josegomez commented on #52
Merged , done with #58

[2020-03-13 16:14] #52 closed

[2020-03-13 16:24] josegomez commented on #51
@alexhauser  so Computer Shutdown and Session Log Off , why do we care? Wouldn't the application halt anyways when that happens? Why bother registering these events? Is just to be safe?

[2020-03-13 16:29] josegomez commented on #51
I'm starting to look at this for MacOS

[2020-03-13 16:42] alexhauser commented on #51
Yes. Under normal circumstances, if the app (or rather the garbage collector) has enough time to wind everything down properly, it shouldn't matter. But how to be sure that this is always the case?

So I just added it because I was implementing the whole window messaging subsystem anyway, and it was easy to add those as well.

[2020-03-14 10:14] alexhauser opened #60 "Add default button to new `MessageBox` implementation"
@josegomez, I noticed that it's currently not possible to just hit enter to dismiss an instance of our new message box that just popped up. I guess we have to define a default button for each of the `MessageBoxButtons` choices and somehow define that as the "default" in code.

[2020-03-14 15:46] alexhauser opened #61 "Add ability to change identity password"
Currently, we have no means of changing the identity master password in the app. We should add that feature.

[2020-03-14 15:53] alexhauser commented on #30
I'm going to close this one, since I don't think there is a real need for this right now.

[2020-03-14 15:53] #30 closed

[2020-03-14 15:54] alexhauser commented on #54
Implemented with #59.

[2020-03-14 15:54] #54 closed

[2020-03-14 16:29] alexhauser commented on #61
I'm going for this one next, @josegomez!

[2020-03-16 14:31] josegomez commented on #51
Starting the Linux one @alexhauser  ... this one bodes to be a nightmare not sure there's is a standard way of doing any of these across linux... We'll see

[2020-03-16 14:35] alexhauser commented on #51
Cool, looking forward to seeing your findings @josegomez!

[2020-03-16 18:32] josegomez commented on #51
Implemented for Linux on #63

[2020-03-16 18:34] josegomez commented on #41
Doing this one next @alexhauser

[2020-03-17 09:10] alexhauser commented on #41
@josegomez, just letting you know that I am working on a `ProgressDialog` for #61 that I plan to be reusable for all views/viewmodels that need to display progress.

This should avoid needing to place a `ProgressBar` into each and every view. If it works out well (and obviously if you like it as well and agree to the plan), I plan on backporting this to all the views that currently display progres

[2020-03-17 11:19] #51 closed

[2020-03-17 11:21] josegomez commented on #41
Sounds good @alexhauser keep in mind that for a couple of screens I've done parallel processing (decrypting block 1 and block 2 at the same time) and it used to different progress bars

Not that we have to do this but just think if there's a good option for that scenario
We can always do it sequentially though no big deal

[2020-03-17 11:33] alexhauser commented on #41
@josegomez, I actually already have plans for that scenario: It will be possible to add an arbitrary number of `IProgess` objects to the dialog! 😀

[2020-03-18 06:35] alexhauser opened #64 "Add universal progress dialog"
As discussed shortly in #41, I'm implementing a `ProgressDialog` to avoid having to implement progress bars and reactive properties for it in each and every `ViewModel` that needs progress to be displayed.

Using the progress dialog is very simple:

[code]

I have a working prototype running, it currently looks something like that:
(showing an operation with 3 progress "items" enqueued)

![Progres

[2020-03-18 14:17] alexhauser commented on #60
@josegomez, I will include a fix for this one in the PR for #61.

[2020-03-18 16:04] josegomez commented on #64
This is very nice @alexhauser !

[2020-03-19 07:12] #61 closed

[2020-03-19 07:12] #64 closed

[2020-03-19 07:12] #60 closed

[2020-03-19 08:37] alexhauser opened #66 "Backport progress dialog"
Now that we have a universal progress dialog, I would like to backport it to all the views/viewmodels that currently implement their own progress display.

[2020-03-19 12:04] josegomez commented on #64
Beautiful work @alexhauser great job!

[2020-03-20 16:45] josegomez commented on #41
Implemented in #67

[2020-03-23 11:33] #41 closed

[2020-03-23 11:33] josegomez commented on #38
I'll take this next @alexhauser

[2020-03-25 13:57] alexhauser opened #69 "Turn password strength meter into a UserControl and deploy it"
Turn the password strength meter that was developed for `ChangePasswordView` into a reusable `UserControl` and deploy it on the following views:

- [x] `ChangePasswordView`
- [x] `ReKeyView`
- [x] `NewIdentityView`
- [x] `ImportIdentitySetupView`

[2020-03-25 13:58] alexhauser commented on #46
I'm gonna go for this one next, @josegomez!

[2020-03-25 15:56] #66 closed

[2020-03-27 14:50] #46 closed

[2020-03-27 14:51] alexhauser commented on #69
I'll look into this one next, @josegomez!

[2020-03-29 13:23] #69 closed

[2020-03-29 13:31] alexhauser opened #72 "Add PDF support"
Add support for exporting the textual identity as well as the rescue code to a PDF file.

Progress:
- [x] Identity
- [ ] Rescue Code (implemented core functionality but not exposed in the UI yet)

I'm going for this one next, @josegomez!

[2020-03-29 13:43] josegomez commented on #72
you are on a roll @alexhauser !Are you in quarentine?
We are it's been rough to write code with kids all over the house lol

[2020-03-29 14:59] alexhauser commented on #72
I am - sort of at least. :)

It's not quarantine actually, but there has been a curfew in place here in Tirol/Austria for almost two weeks now! So I enjoy the coding excercises in between home office, doing the chores in the household, taking care of my wife (she has a medical condition) and playing teacher for my daugther.

[2020-03-29 15:03] josegomez commented on #72
Ah makes sense, glad that you are able to still work from home and such. I work from home all the time but normally the kids (3) are in school / day care. But for the last 2 weeks they've been home so I've had to do the home schooling thing while trying to continue working... It has been... FUN! hehe!

Anyways great job man thanks!

[2020-03-29 15:17] alexhauser commented on #72
Yeah, it's a challenge for a lot of people right now. I guess we are still lucky, only being a little busier than usual! :)

Thanks for the appreciation, Jose!

[2020-03-30 13:32] josegomez opened #73 "Reconsider Authentication Flow?"
So I've been thinking a little about the authentication flow of the client and I'm wondering if what we have is good as is or if we should re-consider the flow / design o fit (logic)

Currently when an Authentication request is received flows as follows

1. Prompt use for Password and Options (this is good)
2. User clicks (OK , Login)
2.1 Decrypt Block 1 using password
2.2 Create Site Key
2.3 Gene

[2020-03-30 13:32] josegomez commented on #73
@alexhauser  any thoughts if we need to change any of this logic?

[2020-03-30 13:36] josegomez opened #74 "Add Auto-Update Logic to SQRL Client Itself"
The installer can update SQRL, but SQRL itself needs to be made aware there is a new version so it can invoke the installer to update itself.

[2020-03-30 13:38] josegomez opened #75 "Change Deployment Strategy for SQRL Client"
SQRL Client until now has been deployed as a Single Package Application from .net core
This is nice, however it automatically decompresses itself into a secret / special folder which includes the SQL Lite DB files.
This can be an issue if we upgrade and accidentally delete things or can cause confusion.

Now that we have a Single Package Application (installer) we should update the process to use

[2020-03-30 14:58] alexhauser commented on #73
@josegomez, since I don't really have a lot of experience when it comes to the protocol part of the SQRL spec, I'll have to look into this more closely to even get a feeling for it. So it might take a while before you get an educated opinion from me on this topic. Sorry!

[2020-03-30 14:59] alexhauser commented on #74
Yes, we definitely need this!

[2020-03-30 15:00] alexhauser commented on #75
Amen to all the above!

[2020-03-30 15:38] josegomez opened #76 "Look into the Issues Raised by https://sqrl.grc.com/threads/quiet-isnt-it.1103/post-9246"
Issues Found: https://sqrl.grc.com/threads/quiet-isnt-it.1103/post-9246

Several issues were reported, they all seem to be dependency related and as far as I can tell they are only related to the Test Project.

For now I think we are ok, but raising the issue just in case.

[2020-04-02 14:21] josegomez commented on #74
Working on this @alexhauser
Trying to figure out what the best strategy is here, should we check for a new version once a day? or when the program first opens? (both)?

[2020-04-02 14:21] josegomez commented on #75
Fixed on #77

[2020-04-02 14:21] #75 closed

[2020-04-02 14:36] alexhauser commented on #74
Yep, I guess both would be appropriate. 👍

Are you going to pull out the version check/Github API into its own library that both the installer and the client use, or does the client need to do something different anyway, so that we won't be duplicating code between the two?

[2020-04-02 14:46] josegomez commented on #74
So im writing the "Version" into a file at install time
Then going to check the github api to see if a "new" (different) vesion is available. The code may be similar... I'll double check if I can put it in a library

[2020-04-02 14:53] jwadamson opened #79 "Next button on left, Cancel on Right"
The new identity has the "next" button on the left side of the dialog.
That arrangement is a little off putting and potentially error prone for LTR languages like english.

[2020-04-02 14:54] josegomez commented on #79
Thanks Jeff, on it!

[2020-04-02 15:02] josegomez opened #80 "Issue with SSL Certificate Trust See: https://sqrl.grc.com/threads/sqrl-client-information.1108/post-9254"
Looks like (for some reason) in some instances the github ssl certificate isn't being trusted.

[2020-04-03 00:37] josegomez commented on #74
Added with #81 including the GitHub lib

[2020-04-03 06:24] alexhauser opened #82 "Add localization to installer"
The installer still uses hardcoded strings, it should be localized just like the main client application.

[2020-04-03 15:33] josegomez commented on #80
Individual personal issue

[2020-04-03 15:33] #80 closed

[2020-04-03 15:33] josegomez commented on #74
Fixed on #81

[2020-04-03 15:33] #74 closed

[2020-04-03 17:20] alexhauser opened #83 "Add logging to installer"
Add Serilog support to the installer and swap out all the console debugging with proper logging.

[2020-04-04 07:59] dreamcat4 opened #84 "[linux] the Installer installs files with unix permissions 777 RWX"
This doesnt seem very secure, for a piece of security minded software. The containing `SQRL` folder (not shown here) is also 777 too.

[code]

[2020-04-04 08:00] dreamcat4 commented on #84
Shouldn't that be `755` instead?

[2020-04-04 08:05] dreamcat4 opened #85 "[linux] start minimized to tray"
It would be nice to have an option to start minimized. With the main window hidden.

[2020-04-04 08:09] alexhauser commented on #85
Yes, this is something I was thinking about implementing already.

Up to this point, the app does not have any "application settings" per se, only identity-related settings. Establishing app-settings support is one of my next planned features. Once this is there, this issue should be dealt with rather quickly.

[2020-04-04 08:11] alexhauser commented on #84
Thanks for the report, @dreamcat4. I've seen @josegomez change some permissions with one of the latest updates and meant to ask him about that, but fogot. So thanks for pointing it out. I'm sure @josegomez will update us on this soon.

[2020-04-04 08:28] alexhauser opened #86 "Fix code duplication between projects"
The different UI projects should not duplicate common code like all the `AvaloniaExtensions` (`CopyPasteTextBox`, `LocalizationExtension`...) but instead reference a central implementation of them in a common library.

For example, the `LocalizationExtension` was heavily enhanced in the client UI project, and the installer still has a bare-bones copy-n-paste version of that extension from the earl

[2020-04-04 08:33] alexhauser opened #87 "Can we remove SQRLIPCTestClient?"
Do we still need the `SQRLIPCTestClient` project, @josegomez?

I'd like to streamline the project as much as possible for it not to become messy and convoluted, and getting rid of obsolete code is one part of that.

What do you think?

[2020-04-04 09:00] dreamcat4 opened #88 "[linux] system tray icon cannot be smaller than a fixed size at 32x32 pixels"
This is an issue on some linux system trays because the SQRL icon is imposing a limit on the size of the task bar. Which in turn impinges on the title bar of windows and break the desktop layout.

This is especially true when the Desktop System Tray is configured to use 24px or 16px icon sizes... which are both smaller than 32px.

Looking at your code here it would appear that the system tray icon

[2020-04-04 13:08] josegomez commented on #84
Yup had some issues with the SQL lite Db and changed some permissions to fix it
We do need to clean that up the issue arose from requiring root/sudo to install but I was able to remove that too so we should be able to fix that

[2020-04-04 13:10] josegomez commented on #87
Yeah we are done with that one

[2020-04-04 13:23] josegomez commented on #84
Ugh see what I mean
![image](https://user-images.githubusercontent.com/420837/78451843-dc631480-7655-11ea-879f-924edfe7b3f7.png)

Linux is gonna be the death of me! It's having permissions issue if when we don't use use sudo, but then that means all the files are creates as root which means running SQRL would require root (which we don't want)
So I change the permissions to fix that, I'll work on

[2020-04-04 13:28] alexhauser commented on #86
I'm experimenting with this right now, @josegomez.

[2020-04-04 13:32] josegomez commented on #86
Sounds great

[2020-04-04 13:40] #76 closed

[2020-04-04 15:46] alexhauser commented on #79
@jwadamson, you must be running an older version of the app.
I've already fixed this a while ago:

![new_identity](https://user-images.githubusercontent.com/4005543/78454980-fb849500-769b-11ea-8c8a-d354d8eb8984.PNG)

Can I close this one or have you spotted this problem anywhere else as well?

[2020-04-04 15:55] josegomez opened #89 "Progress dialog is messed up in Linux/mac"
Linux / Mac progress dialog doesn't resize it appear in the correct place

[2020-04-04 15:56] jwadamson commented on #79
Strange. I had just downloaded the osx build from the link at the bottom on https://github.com/sqrldev/SQRLDotNetClient

[2020-04-04 15:57] josegomez commented on #79
Oh yeah that's an old one go to the releases tab instead.
I'll fix the read me

[2020-04-04 15:57] #79 closed

[2020-04-04 15:58] josegomez opened #90 "Update Read Me with instructions for client install"
Update Read me instructions for client install

[2020-04-04 16:16] alexhauser opened #92 "Textual identity export should only export block type 2"
I noticed that the textual export is huge compared to other clients. I looked at the export code and found that we currently export the full identity (all block types).

According to the spec, we should only be using block type 2 for the textual identity version.

[2020-04-04 16:41] josegomez commented on #84
Working on this.

[2020-04-04 16:46] josegomez commented on #92
@alexhauser  Shouldn't it also export block type 3? Otherwise you lose all your prior identities

[2020-04-04 17:01] alexhauser commented on #92
Yikes, thanks for catching that one @josegomez, of course! Going to fix this!

[2020-04-04 17:34] #92 closed

[2020-04-04 17:44] #86 closed

[2020-04-04 17:44] #87 closed

[2020-04-04 18:34] josegomez commented on #83
Taking this since I"m already working on the installer @alexhauser lae

[2020-04-04 19:27] josegomez commented on #89
Taking this one one @alexhauser

[2020-04-04 19:28] josegomez commented on #84
Fixed on #94

[2020-04-04 19:28] josegomez commented on #83
Added on #94

[2020-04-04 19:58] #83 closed

[2020-04-04 19:58] #84 closed

[2020-04-04 20:06] josegomez opened #96 "[linux] Issues from SQRL.grc.com thread."
- [ ] (1) Download is not executable, I had to "chmod +x" to get it to run.
- [x] (2) I ran as an ordinary user, and it installed OK.
- [x] (3) On the install screen, the "Next" button is right at the edge of teh window, or might even overlap it slightly. The progress bar seemed to go off the window.
- [x] (4) Minor typo on main SQRL screen - "Impot identity" should be "Import"
- [x] (5) Help/Abou

[2020-04-04 20:33] alexhauser commented on #96
3 should already be fixed by my latest PR.

[2020-04-04 21:19] josegomez opened #97 "Window Positioning Issue on Mac and Linux"
So after much troubleshooting there is just no real / reliable way to have a window positioned properly across the platforms.
![image](https://user-images.githubusercontent.com/420837/78461575-587e4c00-7698-11ea-90c7-0dc12f6db659.png)
I even reached out to the avalonia folks to no avail.

I did have an idea, what if we make the progress "dialog" less of a dialog and we just replace the main conten

[2020-04-04 21:23] alexhauser commented on #97
Sure @josegomez, I wouldn't mind dumping the dialog window for a UserControl.

[2020-04-04 21:24] josegomez commented on #97
I'll give it a shot, we are still stukc with the messageboxes but there's less of that. I think though we could also replace the stuff there...not sure that would work nicely though

[2020-04-05 17:09] josegomez commented on #97
This was implemented in #98

[2020-04-05 19:20] #97 closed

[2020-04-05 19:22] alexhauser commented on #89
Fixed by #98.

[2020-04-05 19:22] #89 closed

[2020-04-06 15:36] josegomez commented on #90
Fixed on #99

[2020-04-06 15:36] #90 closed

[2020-04-12 17:37] alexhauser commented on #96
Just fixed 4 in #100.
5 is known (simply not implemented yet), will get to that eventually.

[2020-04-12 17:44] alexhauser opened #101 "Executable version management"
We need to come up with a smart way to connect our "made up" Github release version numbers to the executable version number that we get via `Assembly.GetExecutingAssembly().GetName().Version`.

For example, for the PDF prints, I use the executable version.

[2020-04-12 17:59] josegomez commented on #101
@alexhauser
Hmmm The version in GitHub we have full control of we can make them match easily enough.
Why do you need the version number for the PDF ?
Also when sqrl is installed there is a version file created along with it you could read that one ?

[2020-04-12 18:16] josegomez opened #102 "FireFox on Linux sqrl:// scheme inconsistent"
On FireFox the sqrl:// scheme doesn't work sometimes, other times it works when you right click open in new window.
We need to find a more reliable implementation of it, perhaps since we have CPS we can have CPS "wake up" the UI on connection?
Also we can probably look for a better , more , alternative to the sqrl:// registration for firefox...

No idea

[2020-04-13 04:06] Mrjelly13 opened #103 "[Linux] Can't change install path."
Cannot change install directory and clicking the "Install Path..." Button crashes the installer.

This is the information shown in the terminal:
[code]
There's also a typo in there. `Deltected Platform: Linux`

[2020-04-13 06:30] alexhauser commented on #103
Thanks for reporting, @Mrjelly13.

Unfortunately, I can't reproduce the error under Ubuntu 18.04.
Can you please provide a little more info on the system (OS and version)? Also, which release of the Installer did you download? Beta3?

[2020-04-13 06:48] alexhauser commented on #101
@josegomez

I'm printing the executable version and creation date in the footer of the PDF, so that if later on a user has troubles with his identity, we know exactly when it was created and what the app version was. This will help in case we have bugs fixed in version xyz but the user still has a printed identity from version xya. That kind of thing.

Sure, I just thought it would be great if we

[2020-04-13 07:02] alexhauser commented on #101
@josegomez, thinking a little more about this, I think we should ditch the external file and use the executable version instead. There are a few reasons for that:

- The file is only there if the app was installed by the installer, so no "design time" support. Using the `<AssemblyVersion>x.x.x.x</AssemblyVersion>` in the project lets us track the version in Git and have it always available for rea

[2020-04-13 11:05] josegomez commented on #101
Fair enough how do we set that version number consistently?

[2020-04-13 12:24] alexhauser commented on #101
Ok, here's a suggestion:

Let's use Github's "milestones" feature. For each planned release, we create a milestone. As soon as we've pubslished a release, we create a new milestone, representing the "next version" for the app. In between releases, we can increment the revision (the last number of the version, so for example 0.1.1.**2**) if we want.

For example, since we're now on 0.1.1 beta 3, I'

[2020-04-13 12:27] alexhauser commented on #72
Reopening this one since there is some more work to do exposing the existing rescue code document functionality.

[2020-04-13 13:15] josegomez commented on #101
Sounds good @alexhauser

[2020-04-13 13:22] alexhauser commented on #101
Cool, @josegomez!

So next milestone is 0.1.2, if you have other issues that you want to see in that milestone, just add them. Once we got all of those tackled, we can prepare the next release.

Let's only close this issue once we've baked this into the installer/version check though.

[2020-04-13 13:22] alexhauser commented on #82
Currently working on this, @josegomez!

[2020-04-13 14:40] josegomez commented on #103
@Mrjelly13 there should also be an installer log in that folder, can we get it?

[2020-04-13 14:42] josegomez commented on #73
I think we are ok for now we can come back and re-consider this later if needed. Closing for  now

[2020-04-13 14:42] #73 closed

[2020-04-13 15:34] alexhauser commented on #103
@Mrjelly13, googling for the error `SIGSEGV (Address boundary error)` brought up this error report for the "Fish shell":

https://github.com/fish-shell/fish-shell/issues/5409

Since I can read `fish:` in your log output I suspect you are using that shell, and even though the error report above is from 2018, I still guess it might be related. Can you confirm?
(Maybe try a different shell?)

[2020-04-13 15:45] Mrjelly13 commented on #103
@alexhauser I am using the fish shell, but I tested it using zsh as well. Got a similar error. I am running Manjaro Linux with the 5.6 kernel. I did download the Beta3 installer.
@josegomez Content of the installer log is pretty much identical to the terminal output minus the error
[code]

For reference, the install does work if I don't try to change the install path

[2020-04-13 15:47] Mrjelly13 commented on #103
Here is the output using bash:
[code]

[2020-04-13 15:52] alexhauser commented on #103
Ok, I guess we'll need a stack trace here.

@Mrjelly13, could you clone the repository and run the installer directly from source? If yes, please let me know and I'll include some code to make the log output more meaningful. Thanks in advance for your feedback.

[2020-04-13 15:57] Mrjelly13 commented on #103
Sure. Let me know what I need for that and I'll give it a go.

[2020-04-13 16:09] alexhauser commented on #103
Great, @Mrjelly13 !

You'd have to install the .NET Core SDK:
https://docs.microsoft.com/en-us/dotnet/core/install/sdk?pivots=os-linux

Then install git, clone the repo, build and run:
[code]

If that all works, let me know and I'll push some debug code.

[2020-04-13 16:15] Mrjelly13 commented on #103
Ok, that all builds fine.

[2020-04-13 16:24] alexhauser commented on #103
Great! I've added some debug code to my current PR #104, I will merge it as soon as the unit tests have passed and then let you know when you can pull the changes and rebuild.

Thanks for your patience, @Mrjelly13!

[2020-04-13 16:26] Mrjelly13 commented on #103
Sounds good, Happy to help! @alexhauser

[2020-04-13 16:34] #82 closed

[2020-04-13 16:34] alexhauser commented on #103
@Mrjelly13, everything is merged now.

Please do a `git pull` followed by a `dotnet build && dotnet run` while you're still in the installer directory.

The installer should then run. Just follow the steps and when hitting the "Install Path..." button now, the error log should be more verbose. Please post the output of that here.

[2020-04-13 16:36] alexhauser commented on #22
Added installer documentation with #104.

[2020-04-13 16:44] Mrjelly13 commented on #103
@alexhauser Unfortunately it wasn't any more helpful, maybe I'm missing something?
[code]

[2020-04-13 16:52] alexhauser commented on #103
@Mrjelly13, you're not missing anything, the fixed typo and the new log message showing the exact OS description tell me that you ARE definitely running the latest code.

It looks like that segfault just tears down everything and normal exception handling is useless in this case. Can't think of any quick fix right now, sorry. I guess it's more fundamental problem though, nothing that we could fix

[2020-04-13 17:00] Mrjelly13 commented on #103
Ok @alexhauser, let let me know if you think of anything. If I have some time I'll see if I can find anything else on my end.

[2020-04-13 17:28] josegomez commented on #103
@Mrjelly13 , @alexhauser
I've had this before on a Mac it had to do with the Avalonia Select Dialog call.

Likely related to this little guy on the linux side.
https://github.com/AvaloniaUI/Avalonia/issues/2817

[2020-04-13 17:41] alexhauser commented on #103
@josegomez, indeed, that seems to be it! Thanks! 👍🏻

As the bug seems to be located in a dependency of a dependency, all we can do at this point is wait for an update to eventually arrive downstream. Sorry, @Mrjelly13.

[2020-04-13 17:45] josegomez commented on #103
@Mrjelly13 just to be 100% certain  clone this project
https://github.com/josegomez/SelectDialogTest.git
and run it, it should generate a Log.
It's just a form with a button on it to pick a dialog.
Just make sure it crashes the same way, and if the log contains anything else.

[code]

[2020-04-13 17:50] Mrjelly13 commented on #103
@josegomez I tried running it but I got the following error: `Couldn't find a project to run. Ensure a project exists in /tmp/SelectDialogTest, or pass the path to the project using --project.`

[2020-04-13 17:53] josegomez commented on #103
ah sorry @Mrjelly13 cd into SelectDialogTest again, I wasn't paying attention when I created the solution and it ended up in a different folder.
So the complete code should be
[code]

[2020-04-13 18:12] Mrjelly13 commented on #103
Ok, so I ran it, but nothing happened. Just ran and then exited with nothing,

[2020-04-13 18:16] josegomez commented on #103
@Mrjelly13
Right, but do you see anything in the log file?
SelectDialogTest\SelectDialogTest\bin\Debug\netcoreapp3.0\log20200413.txt

[2020-04-13 18:20] Mrjelly13 commented on #103
@josegomez There's no log file there.

[2020-04-13 18:21] josegomez commented on #103
HMMM.... that's strange, so does the screen come up? and you select a dialog? and there is no log file?.... that's odd.
STandby

[2020-04-13 18:22] Mrjelly13 commented on #103
Nope, noting happens when I run it at all.

[2020-04-13 19:59] josegomez commented on #103
ok @Mrjelly13 I installed Manjaro can replicate. On Both Projects.
BTW I fixed the other project but it doesn't matter I can replicate and will open some issues for it.

[2020-04-13 20:12] Mrjelly13 commented on #103
@josegomez Thanks! If you need anything from me let me know!

[2020-04-13 21:46] josegomez commented on #103
@Mrjelly13 do a pull again on my secondary project and test it. It should work now.
I made a PR to our main project too

[2020-04-13 22:07] Mrjelly13 commented on #103
@josegomez  That did it! Thanks! At least with the test. I'll let you know once the PR goes through.

[2020-04-13 23:10] josegomez commented on #103
cool @Mrjelly13  as soon as @alexhauser looks at thr PR we can merge it and the fix will be in the next release which should be out pretty soon too

[2020-04-14 05:51] alexhauser commented on #96
@josegomez,

as for (1), if you `chmod +x` on a linux box before uploading, is the download still not executable?
As for (2), is this an issue? Actually sounds like a feature ;-)

I'm working on (5).

[2020-04-14 12:33] alexhauser commented on #96
(5) is addressed in #106.

[2020-04-14 13:11] #103 closed

[2020-04-14 13:13] josegomez commented on #96
@alexhauser I haven't tried I dev on windows so I can't chmod before upload at least not easily... Maybe I can use WSSL for that.

[2020-04-14 13:14] josegomez commented on #96
yeah (2) is fine that's what we want.

[2020-04-14 14:33] alexhauser opened #108 "Port "Switch Identity" from Dialog to UserControl"
The "Switch Identity" screen is still shown as a separate dialog window. We should refactor that to a `UserControl` instead, just like we did with all the other dialogs recently.

[2020-04-14 19:42] alexhauser commented on #96
Sounds like a plan! Would be great if you could try it out sometime @josegomez, since this is the last item standing for this issue.

[2020-04-14 19:44] josegomez commented on #96
@alexhauser I'll give it a shot.

[2020-04-14 19:50] #72 closed

[2020-04-15 13:15] josegomez opened #110 "[osx] Crash Report"
See: https://sqrl.grc.com/threads/mac-osx-testing-feedback.1111/post-9365
I'm now getting a crash whenever I press Export ID.

[code]

[2020-04-15 14:32] josegomez opened #111 "[all] Authenticate To Label always says www.grc.com"
![image](https://user-images.githubusercontent.com/420837/79349510-499f6100-7f04-11ea-8206-9b11eafa3010.png)

Just found this on accident, but no matter what website we are authenticating against it always says Authenticate To:
www.grc.com

oops.

[2020-04-15 14:52] #111 closed

[2020-04-15 14:56] alexhauser commented on #101
@josegomez, just so that we're on the same page, the assembly version gives us 4 "sets" of numbers for the version string, e.g. `0.1.2.3` .

I'd suggest to (loosely) follow the following convention (taken from StackOverflow):

As you might have seen, I've edited the last 2 Github release tags to follow the x.x.x.x notation. The consequence is that now the app thinks a new version is available. Tha

[2020-04-15 14:57] #108 closed

[2020-04-15 14:59] josegomez commented on #101
@alexhauser feel free to update it I'm buried at work today so if you got the time go for it 😊

[2020-04-15 15:03] josegomez opened #114 "[all] Enhance Dialog "feature" to use AutoResetEvent?"
Hi @alexhauser  I just saw you used an AutoReset event in your latest "dialog" replacement. I didn't know about this feature of the threading library so when I implemented the other dialogs I used a BlockingCollection instead to block the thread while waiting for the user.

May be worth to go fix those and use the AutoReset instead? BlockingCollection is nice but its way over-kill for these.
I thi

[2020-04-15 17:26] alexhauser commented on #114
Yeah @josegomez, it would at least have been overkill for my task, because I didn't even need to pass around data or return anything. `AutoResetEvent` is nice in terms of its slim syntax and (hopefully) low overhead.

[2020-04-16 13:44] #101 closed

[2020-04-16 13:48] alexhauser commented on #110
Can you reproduce this in your virtual environment, @josegomez?

[2020-04-16 13:54] josegomez commented on #110
@alexhauser trying now.

[2020-04-16 13:57] josegomez commented on #110
Log from Post.
[code]

[2020-04-16 13:58] josegomez commented on #110
No I cannot @alexhauser but I bet is the QR Code generation bit I've seen a similar issue before if they didn't have the libgdiplus
Let me see if I can have him double check that.

[2020-04-16 14:01] alexhauser commented on #110
If it really is due to a missing `libgdiplus`, we should definitely try to handle this more gracefully by trying to decect that it is missing and give a useful error message.

[2020-04-16 14:12] josegomez commented on #110
yeah hard to tell I'm having him re-install it, I also think we need to find a better QR code generator. Are you using that same one for the PDF?
When I run it on a Mac on my VM it looks like this
![image](https://user-images.githubusercontent.com/420837/79466512-b11fe400-7fca-11ea-8654-2a263f399f49.png)

Now I think that's an artifact of the VM itself? But I'm not 100% sure. Looks fine in the PDF

[2020-04-16 14:14] josegomez opened #116 "[all] Enhance Export to Include Block1 (choice)"
Steve's client allows you to export either block2 and 3 only or "for convenience" include block1
![image](https://user-images.githubusercontent.com/420837/79466714-f0e6cb80-7fca-11ea-9a54-7f41ca9f14a7.png)

Just ran into an issue while testing the IOS app that it doesn't support importing block2 and 3 only (yet) now this is a shortcoming of that app, but since steve included this option in his cli

[2020-04-16 14:17] josegomez opened #117 "Detect No CPS/ MITM Mitigation according to Identity Specs"
Currently we have a flag set as "WARN" of possible MITM Attack in the identity but we aren't checking if CPS Is indeed being used or not.
We should (check the spec) and implement accordingly I haven't verified what that is exactly, but I believe Steve's client yells (warns) if you try to auth on Same Device and don't / can't use CPS.

[2020-04-16 14:22] josegomez commented on #110
Yeah I just double checked you are using the same library so it's an artifact of the VM as I expected. Good, let's see if the gdiplus fixes his issue if it does we'll try to handle.
One mitigation would be to only show the QR on button press instead of automatically... that way there are other export options if the QR isn't available.

[2020-04-16 14:24] alexhauser commented on #116
Yep @josegomez, we should definitely add support for that!

[2020-04-16 14:27] alexhauser commented on #110
@josegomez, please try running the latest version in OSX. I made some changes in the export screen meanwhile, and also changed the qrcode generation code a little, since we were feeding it the whole identity instead of only block2+3. The qrcode was massively crowded before, and should be much cleaner in the latest version. Please check.

[2020-04-16 14:31] josegomez commented on #110
Its a little better, still messed up but I'm confident (ish) its the VM. We'll need someone with a real Mac to verify hopefully if Brian can get past the crash he can
![image](https://user-images.githubusercontent.com/420837/79468814-681d5f00-7fcd-11ea-997b-cc04485259ac.png)

Save as PDF does render correctly
![image](https://user-images.githubusercontent.com/420837/79468856-74a1b780-7fcd-11ea-9e0

[2020-04-16 14:50] alexhauser commented on #110
Allright, thanks for checking it out @josegomez, let's wait and see what Brian finds.

[2020-04-16 15:06] josegomez commented on #110
@alexhauser confirmed a libgidplus issu fixed.
Not sure how we can check that it is there, I'm guessing we can try to invoke a gdiplus related task Image in a try catch?

[2020-04-16 15:08] josegomez commented on #110
![image](https://user-images.githubusercontent.com/420837/79473065-9cdfe500-7fd2-11ea-9084-c6ea05e514d0.png)
In the actual mac also looks bad... we'll have to address find a different library or something.

[2020-04-16 15:10] josegomez opened #118 "[osx] Replace the QR Generator with one that works better on a Mac"
In OSX the QR Code does't generate properly (on the UI)
![image](https://user-images.githubusercontent.com/420837/79473234-dadd0900-7fd2-11ea-9abf-0401fc8eb62d.png)

Need to address/fix

[2020-04-16 15:11] josegomez commented on #118
See #110

[2020-04-16 15:27] josegomez commented on #118
This is a known issue with our QRCode library see: https://github.com/codebude/QRCoder/issues/210

[2020-04-16 15:31] josegomez commented on #118
Removing the Icon fixes the issue, though the icon is "cute" it isn't all that useful. Removing the icon PR coming
![image](https://user-images.githubusercontent.com/420837/79475548-cea67b00-7fd5-11ea-9081-ac2b84d97d3a.png)

[2020-04-16 16:13] #118 closed

[2020-04-16 19:38] wls opened #120 "Can't back out of Import Identity"
From the Import Identity dialog, pressing Cancel result in an error of "Error importing textual identity: Value cannot be null. (Parameter 'source')"  ...pressing OK takes you back to the Import Identity.  So, if you don't have one, you can't exit back to the main screen.

Note that Next is enabled, so it's clickable, but without anything in the box, take you no where.

I got to this screen initia

[2020-04-16 19:45] alexhauser commented on #120
This might already be fixed in master, but I'll have to investigate. Thanks for reporting, @wls!

[2020-04-16 20:06] alexhauser commented on #120
I can't reproduce this on Windows with the latest source version.

@josegomez, maybe you can test on macOS: Remove all identities, enter the "Import identity" screen and try backing out using "Cancel".  Anything going south for you?

@wls, only enabling "Next" when either a file was chosen or a textual identity was provided would indeed make sense, I'll implement this at the next opportunity.

[2020-04-16 20:11] wls commented on #120
Quick thoughts since you'll be on that screen... (though this is an entirely different issue)

The Import file wants a .sqrl file, but the iOS app is currently exporting .sqrlc files.  Renaming its file works, btw.

The Import File ought to either read Import .sqrl, specifically stating what it's looking for, or be more forgiving allowing .sqrl* or even any extension.  It shouldn't be hard to tell

[2020-04-16 20:36] josegomez commented on #120
@alexhauser I got it. the issue is in our "prior view" logic.
You should be able to replicate in windows too. We have setup the mainwindow to track Content and PriorContent
And when we switch Content it automatically updates PriorContent with the prior view. The issue is that if we type in some random code in the TextualIdentity and click next, we'll get an error Dialog (which becomes CurrentConte

[2020-04-16 20:36] alexhauser commented on #120
@wls , are you sure that the file extension is `*.sqrlc`, not `sqrc` (no "l")?
The difference between a `*.sqrl` and a `*.sqrc` file is that the former contains all the identity blocks, while the latter only contains block 2 for maximum safety - it will therefore require the rescue code to import such a file.

I'll look into supporting `*.sqrc` files, we should have all the plumbing for that, we o

[2020-04-16 20:39] josegomez commented on #120
I believe I tackled this before with the ProgressDialog by making the ProgressDialog an exception case on the Setter for CurrentContent. We probably need to add MessageBox to that too.

See MainWindowVIewModel.cs 26

[2020-04-16 20:40] alexhauser commented on #120
@wls, regarding the textual identity, this is the textual representation of the identity that you get when you print the identity from the GRC client for example. This has nothing to do with the `*.sqrl` or `*.sqrc` files. See https://www.grc.com/sqrl/SQRL_Cryptography.pdf page 28 for details.

[2020-04-16 20:43] alexhauser commented on #120
Thanks for the pointers @josegomez, I've already got the "enable/disable next" going and will include the fix for the issue you've described tomorrow - need to get some rest now.

[2020-04-16 20:44] wls commented on #120
@josegomez -- You just described my first scenario, I tried to put my identity's password in the box, hit Next, it rejected it, then realized I borked things up. Sounds like you figured out the edge-case path that messes with the prior context.

@alexhauser -- Yes, just confirmed it with the latest iOS SQRL beta; exported and Air Dropped it to my iMac. The file -does- show up as a .sqrlc file, whi

[2020-04-16 20:49] wls commented on #120
Sure enough, found out when I "print" rather than export, it does generate that text. Thank you for the clarification, @alexhauser, and for helping to direct to that part of the documentation. I figured the hex codes from the files was what it wanted.  Nope...!

[2020-04-16 20:54] wls commented on #120
While we're talking dialog buttons and paths, the Export Identity seems to have both a Back and Done button that each return the Main Menu.  Not sure what the difference between the two would be.

[2020-04-16 20:59] alexhauser commented on #120
We use this screen in more than one scenarios. When you come from the main screen, the "Back" button does not make sense, you're right. In other scenarios, this screen is the last screen in a "wizard" style workflow, there it makes sense. But you're right, we could hide that button when coming directly from the main screen.

Thanks for your suggestions @wls, very much appreciated!

[2020-04-16 21:00] josegomez commented on #120
go to bed @alexhauser! 😁😋

[2020-04-17 17:11] #22 closed

[2020-04-17 18:43] #120 closed

[2020-04-17 19:40] alexhauser commented on #110
I'm not sure if a try/catch will even catch a SIGABRT.
Maybe something useful can be found here: https://github.com/dotnet/runtime/issues/29625
I don't know if any of this works on the Mac, I guess you'll have to try that, @josegomez.

[2020-04-17 19:43] alexhauser commented on #96
Any news on this front, @josegomez? It would be cool if we could close this one, since it would be one more step towards our v0.1.2 milestone.

[2020-04-19 08:00] alexhauser commented on #102
Linking a forum post that might be relevant here:
https://sqrl.grc.com/threads/linux-testing-feedback.1109/post-9401

[2020-04-19 09:40] alexhauser opened #126 "[Linux] Idle timeout seems to be broken"
While testing on Linux, I noticed log messages regarding idle timeout being hit, even though the timeout in the loaded identity was set to 15 minutes. It seems that the idle timeout is consistently hit after about 5 seconds. Something seems broken here.

[2020-04-19 17:06] dxcSithLord commented on #102
I found this that should also be helpful on how to register Protocol Handler
[https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler/Web-based_protocol_handlers](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler/Web-based_protocol_handlers)
and this
[https://support.mozilla.org/en-US/questions/1169576](https://support.mozilla.org/en-US/q

[2020-04-19 17:17] dxcSithLord commented on #102
I also noticed that there seems to be a problem with opening the 127.0.0.1:25519 port - it doesn't check that the port is in TIME_WAIT state and should be able to close the port, without TIME_WAIT (I have seen this referenced, but can't remember details - I will try and find out more).
Currently on my Ubuntu 18.04.04 machine, I can see a CLOSE_WAIT state on the port.  The SQRL application is runni

[2020-04-19 17:20] josegomez commented on #126
yeah I noticed this too forgot to make an issue thanks @alexhauser

[2020-04-19 17:37] dxcSithLord commented on #110
I may have access to a "real" Mac and when I have been through some testing on Linux, I will try it on a Macbook - SithMagic

[2020-04-19 17:41] dxcSithLord commented on #96
Note on "chmod +x", that will work, but you would still need to provide the path, best to use full path.

[2020-04-19 17:53] #85 closed

[2020-04-19 17:54] alexhauser commented on #110
That's great, thanks for all your efforts @dxcSithLord!

[2020-04-19 18:42] alexhauser commented on #102
@dxcSithLord, I guess it would be helpful if you could run the latest code off the master branch for testing instead of having to wait for a release. If you would like to try that, here are the basic steps to do so:

First, you'd have to install the .NET Core SDK:
https://docs.microsoft.com/en-us/dotnet/core/install/sdk

Then install git, clone the repo, build and run:
[code]

[2020-04-19 19:27] alexhauser commented on #96
@dxcSithLord, fyi this is not about issuing `chmod +x` after the download, which would obviously work, but how we can avoid this being necessary.

The question is if the `chmod +x` will stick if issued before uploading the binary to Github.

[2020-04-19 21:09] dxcSithLord commented on #102
Thanks for that - Here is an strace file that shows all of the system calls  when just launching and exiting the latest Beta version.  The file is plain text.  For information on how to read (or more detailed diagnostics), see [https://www.cyberciti.biz/faq/howto-use-linux-truss-strace-command/](https://www.cyberciti.biz/faq/howto-use-linux-truss-strace-command/).  Dtrace is another command that c

[2020-04-19 21:37] dxcSithLord commented on #102
With the latest source from master, here is the dotnet lanched strace file for start and stop - still no port 25519 listening:
[dotnet_built_client_ui_strace2.txt](https://github.com/sqrldev/SQRLDotNetClient/files/4500362/dotnet_built_client_ui_strace2.txt)

[2020-04-19 21:47] dxcSithLord commented on #96
No that won't work.  The permissions on Linux/Unix are based on a default file creation permissions default, which doesn't include execute permissions.  That would be bad from a security point of view if every file were by default executable.
However, if the files were in a tar file, with the permissions set, that would work, as tar can retain file permissions.  The other edge of that sword is tha

[2020-04-20 12:47] josegomez opened #127 "[library] Add Logging to SQRL Library"
Currently SQRL Library has no logging, may be useful to add Sirilog support there too.

[2020-04-20 14:01] alexhauser commented on #127
Yeah, it would certainly be useful, although I'm not quite sure on how to handle this for a library that is supposed to be used by other parties that might have a completely different logging system/approach/need.

But as long as it can be turned off, it should not really matter too much.

Also, we'll need to be extra careful not to accidently log any sensitive information such as keys, seeds, non

[2020-04-20 14:02] alexhauser commented on #116
I'll take this one next, @josegomez!

[2020-04-20 14:12] josegomez commented on #116
Sounds good @alexhauser, I'm about to push the CPS one sorry it took so long, work has been kicking my rear end.

[2020-04-20 14:17] alexhauser commented on #116
No need to rush @josegomez, it's not like we have to meet a deadline or anything! 😅

[2020-04-20 16:01] josegomez commented on #126
I'll take this @alexhauser

[2020-04-20 17:08] dxcSithLord commented on #102
Daft question, why do I see port 127.0.0.1:13000 opened when I run the program and the public class IPCServer in the code has the TcpListener set with a default of 13000, rather than 25519?  I understand from the comments this is to prevent multiple instances, but this isn't the method employed by the GRC client (no port 13000 listening).  Alternative on Unix/Linux, you can create a special file "

[2020-04-20 17:17] josegomez commented on #102
@dxcSithLord
We already use a Mutex (a semaphore) to allow only once instance of the app to run. The issue is we need to send the URL data to that instance from the current (new) instance that is instanciated by the sqrl:// scheme.

In order to avoid too much platform specific code we are using TCP for Inter Process Communication. Mac, Linux and Windows all handle inter Process communication diffe

[2020-04-20 17:19] josegomez commented on #102
Regarding this we don't start listening on 25519 until we receive an Auth Request. There is no need to have this sitting there open listening doing much of nothing.

When an Auth request is received via a SQRL:// scheme invocation we start listening on 25519

[2020-04-20 17:19] josegomez commented on #102
Oops wrong button

[2020-04-20 17:20] josegomez commented on #38
Fixed by #128

[2020-04-20 17:20] josegomez commented on #126
Fixed by #129

[2020-04-20 17:22] dxcSithLord commented on #102
I thought that would be the case, but where does port 25519 get opened?
If the port is not open, you are not going to receive a request via that port, which is what the demo page is doing.  The application association handles the URL getting opened in new tab action, but that can lose traction with the original page.
Why not open port 25519 and use that instead of port 13000, this would be consist

[2020-04-20 17:24] dxcSithLord commented on #102
Also when you do receive a request via port 25519, the application can switch to visible from hidden and any repeat launch will see that the port is already open and can pass the request directly to that already open port (perhaps with an additional parameter, or not)?

[2020-04-20 17:32] josegomez commented on #96
I tested it and it didn't work (as suspected)

@alexhauser this is a wont fix nothing we can do unless we want to switch to a tar like @dxcSithLord mentioned at this point I don't know if that would be acceptable and we have a ton of other changes to go through so I'd say shelf this one for now.

The instructions state to run chmod a+x... and frankly if you are running linux you should know how to

[2020-04-20 17:37] josegomez commented on #102
When a request is invoke via SQRL:// it launches a new instance of SQRL. Which using the Mutex looks to see if there is a running version. If there is, it passed in an authentication request with the URL which launches CPS (25519) and connects it to the client (current browser instance) so nothing is lost there.

If it doesn't see a running instance of the app then an Authentication request is rec

[2020-04-20 17:39] alexhauser commented on #96
I agree, closing this one!

[2020-04-20 17:39] #96 closed

[2020-04-20 17:41] josegomez commented on #102
We wrote the SQRL and CPS implementations as an independent library (outside of the Client Implementation) this means that SQRL library and the corresponding CPS implementation don't need to know ANYTHING about the UI Client
But that means that requests received in CPS aren't aware of the UI screen and thus can't easily awaken the UI from CPS.

I agree this would be cool so maybe we could add an e

[2020-04-20 17:52] josegomez opened #130 "Improve CPS Startup Time add CPS Event"
In #102 the point was raised that we could "AWAKEN" the UI from CPS if we start CPS right away when the client launches and have it running.

When a CPS request is received we could trigger an awake command and rouse the client to the foreground and initiate an Authentication request right there without having to rely on the sqrl:// scheme invocation. This would shorten the Auth time for requests

[2020-04-20 17:55] josegomez commented on #102
@dxcSithLord
Added #130 to look at some of your concerns

[2020-04-20 18:13] alexhauser commented on #130
@josegomez, I'll have to think about this some more, I'll get back to you on that!

[2020-04-20 18:24] dxcSithLord commented on #102
OK - I will test some of the protocol settings for Linux to see if I can get that working consistently, based on the test published previously and advise on findings.

[2020-04-20 18:25] dxcSithLord commented on #130
Some more thoughts to consider :
Found this for windows IPC, which can also be used on *nix, [https://docs.microsoft.com/en-us/windows/win32/ipc/interprocess-communications#using-pipes-for-ipc](https://docs.microsoft.com/en-us/windows/win32/ipc/interprocess-communications#using-pipes-for-ipc)  The pipe can be opened by the client that is running first.  Attempts to open the "read" or receiving end

[2020-04-20 18:29] josegomez commented on #130
@dxcSithLord just curious as to what you don't like about the current IPC solution? It is clean and a single code tree for all platforms. What don't you like about it?

[2020-04-20 18:33] josegomez commented on #130
Looking at the implementation Anonymous-pipes it isn't any simpler than a simple TCPClient

![image](https://user-images.githubusercontent.com/420837/79786720-e6eb0280-8313-11ea-901a-22efeff5ef6c.png)

[2020-04-20 18:34] alexhauser commented on #130
I was about to ask the same thing.

[2020-04-20 18:38] #38 closed

[2020-04-20 18:38] #126 closed

[2020-04-20 21:17] dxcSithLord commented on #130
It's not that I don't like it, I just want to understand that others have been considered.  If this is the best, then that is good, but it can only be the best, if/when others have been considered and rejected for a good reason.  The reason could be security, or just incompatibility across platforms.
For example, how was port 13000 chosen?  Does this clash with ANY other program that could also be

[2020-04-20 21:23] dxcSithLord commented on #130
On the other point on protocol handlers, see [https://unix.stackexchange.com/questions/497146/create-a-custom-url-protocol-handler](https://unix.stackexchange.com/questions/497146/create-a-custom-url-protocol-handler).
When the SQRLDotNetUI is installed is mentions about setting the sqrl association, but I cannot see the file either in ~/.local/share/applications/ or /usr/share/applications/.  Whe

[2020-04-20 21:39] dxcSithLord commented on #102
Found useful information on protocol handler settings for Linux and Mac OS - put links on #130.  @josegomez  I missed the bit about mutex semaphore earlier.

[2020-04-20 21:57] josegomez commented on #130
@dxcSithLord See below, no worries regarding difficult questions we are just trying to understand where you are coming from so we can have a productive dialog. We appreciate your feedback

**How was port 13000 chosen? :**
At random there are a few things that run there but its mostly malware
https://www.speedguide.net/port.php?port=13000
We could make this configurable easily enough though now tha

[2020-04-21 06:07] dxcSithLord commented on #130
That is what I wanted to see.  Can you put this description in a design document somewhere?  Thank you.  I will have a look at the code later.

[2020-04-21 06:53] alexhauser commented on #102
@dxcSithLord
I guess that should have been a thumbs-up by @josegomez 😎

[2020-04-21 10:04] josegomez commented on #102
Yup fat finger

[2020-04-22 04:08] #116 closed

[2020-04-22 11:13] josegomez opened #133 "Move DB and Logging to User Space"
See: https://sqrl.grc.com/threads/windows-testing-feedback.1112/post-9418

I think I agree we should move the DB to user space
Thoughts @alexhauser ?

[2020-04-22 11:16] alexhauser commented on #133
Yes, totally!

[2020-04-22 11:19] alexhauser opened #134 "Add response when manually checking for updates"
When manually checking for updates through the UI (main menu) and no updates are found, we should present a message box informing the user, instead of silently returning.

[2020-04-22 11:22] josegomez opened #135 "Pass Current Install location to installer on update"
While thinking about moving the dB I realized that when an update is found and we invoke the installer we aren’t passing in the current sqrl location
So if they installed in an non default location the installer is unaware

[2020-04-22 12:13] alexhauser opened #136 "Have the client update the installer"
We still need to implement the feature of the client being able to update the installer.

[2020-04-22 12:31] josegomez commented on #136
Actually I already took care of this kind of
The installer can be included in the app zip and gets extracted when the update happens

Currently workflow
Installer downloads zip and extracts it and copies itself into the install location (if the zip file didn’t contain a newer copy)

So basically every new version we want to update the installer we just need to make sure it’s included in the app zi

[2020-04-22 12:36] alexhauser commented on #136
Ah, I wasn't aware, this is great @josegomez!

Fyi, I'm working on an update to the `GithubAPI` project that would ignore releases where the release-tag contains the word "test" if a file named "TESTING" is present in the executable's directory. This should help us in testing the installation of new updates before they are being offered to "regular" client users. I'll post a PR shortly.

[2020-04-22 12:38] #136 closed

[2020-04-22 13:27] #114 closed

[2020-04-23 00:59] josegomez commented on #135
Taking this @alexhauser

[2020-04-23 08:15] alexhauser opened #138 "Enable support for "pre-releases" in the installer"
As discussed, we want to show only production-ready releases by default in the installer, but enable the user to tick a box to receive "pre-releases".

[2020-04-23 14:37] #138 closed

[2020-04-23 15:18] #134 closed

[2020-04-23 18:18] josegomez opened #142 "Fix permissions issue on Windows Install"
See: https://sqrl.grc.com/threads/windows-testing-feedback.1112/post-9418

When you install as administrator on Windows there is a permissions Issue where you can't run the application unless you run as administrator.

[2020-04-23 18:29] josegomez commented on #133
@alexhauser thinking about this from a design / "upgrade" path here's what I came up with

- Update the Platform Installer to detect / check if sqrl.db exists in the current install location (already does this to avoid overwriting)

- If the sqrl Db is found move it to the new location of our choosing (or add the ability for the user to provide a location where they want it stored... think keeping

[2020-04-23 18:59] josegomez opened #143 "Change Installer Binaries to tar.gz for Mac and Linux"
Some users have complained about having to set the executable bit on the binary downloads for the PlatformInstaller
One option that we dismissed earlier was to use tar.gz to upload, this preserves the executable bit and makes it marginally easier to execute the installer, though it does add the complexity of having to generate this tar gz file.

See below how it would work from a user perspective

[2020-04-23 19:00] alexhauser commented on #133
That sounds like a good plan, @josegomez !
Go ahead!

[2020-04-23 19:11] alexhauser commented on #143
Hmmm, good question. It's a mess. But it would remove one extra step that could cause troubles for non tech-savvy users who also don't rtfm. So yes, everything that helps UX should probably be on our TODO list.

[2020-04-23 19:20] #135 closed

[2020-04-23 19:20] #142 closed

[2020-04-23 20:03] alexhauser opened #144 "Bug with update check on changing language"
Upon manually changing the language in the client, the "new version available" button gets shown, even if no update is available.

Also, the button is shown for a short moment when launching the client and then disappears when the update check completes. Maybe we can get rid of this too, since it looks a little weird.

[2020-04-23 20:12] josegomez commented on #144
haha I'm confused as to why changing the language breaks the button behavior hahaha!
Actually that second "glitch" came in quite handy during testing, if you time it just right you can click the button even if there is no update which helps with testing 😂

That's how I tested that my command line params works since we can't publish a release. Click ninja!

You call it a bug I call it a convenient

[2020-04-23 20:32] alexhauser commented on #144
Probably because we need to instantiate a new `MainMenuViewModel` to apply the language change.

🤣👍🏻

[2020-04-24 08:59] alexhauser commented on #110
@josegomez, I created a virtual macOS environment to check out how we can detect a missing `libgdiplus` and handle it gracefully.

However, when cloning and running the latest master build on macOS Catalina, I get this before even getting to the `libgdiplus` related error:

[code]

Please not that I have intentionally NEITHER installed homebrew nor libgdiplus.
But this seems to be a MonoMac relate

[2020-04-24 09:44] alexhauser opened #146 "Bump version to 0.1.2.0, test and release"
### Description:

- [x] Resolve all open issues for milestone [v0.1.2.0-beta](https://github.com/sqrldev/SQRLDotNetClient/milestone/1)
- [x] Bump assembly version to 0.1.2.0
- [x] Release v0.1.2.0-beta by closing the milestone and activating @josegomez's fancy Github workflow.
- [x] Perform some thorough testing

[2020-04-24 13:23] alexhauser commented on #110
Nevermind @josegomez, I found and fixed the problem.

The culprit was `QuickPassManager` which was instantiated before a call to `NSApplication.Init()`. Posting a PR for the fix asap.

[2020-04-24 13:33] josegomez commented on #110
haha yeah that bit me before, remember I mentioned having a specific sequence of stuff on the mac? It's picky picky!

[2020-04-24 14:16] alexhauser commented on #110
Yes, I do remember @josegomez!

But it's fixed already and the good news is that indeed we can handle the `libgdiplus` crash in a try/catch.

[2020-04-24 14:17] #144 closed

[2020-04-24 14:29] josegomez commented on #110
beautiful! @alexhauser

[2020-04-24 18:36] alexhauser commented on #133
@josegomez, thinking about this some more, I'm not even sure if we should fall back to the install directory at all. Default (or user-chosen) location, and if that doesn't exist, just offer creating a new db somewhere in the userland. This would seem a little cleaner to me. Thoughts?

[2020-04-24 20:27] josegomez commented on #133
Agreed

[2020-04-24 20:32] #110 closed

[2020-04-24 21:44] josegomez opened #148 "Fix Mac Console Issue"
On MacOSX the Avalonia Window can't be TopMost.
This is created by using the NSApplication.Delegate and registering it with Osx

We need to find a way around this.

[2020-04-25 00:40] josegomez commented on #148
Fixed with #149
Apple Delegate BS... le sigh

[2020-04-25 00:51] josegomez commented on #146
I'm going to setup a clean windows VM for testing the windows install and a clean Ubuntu VM you just setup your mac any chance you took a snapshot before you installed gdiplus and such?

Once we merge this final issue that's in the PR maybe  we can close the milestone build out the installer and test it in the clean VM's before we release?

[2020-04-25 08:22] alexhauser commented on #146
That's exactly what I did ;-)

Sounds like a plan. I'm gonna post a PR that sets the corresponding version number for the client as well as for  the installer assemblies. This should be the last merge before closing the milestone.

[2020-04-25 13:19] #148 closed

[2020-04-25 15:05] alexhauser opened #152 "[macOS] Minimize glitch"
### Description:
On macOS, "minimize to tray" isn't working, instead the app gets minimized to the dock, and when retstoring it from there (NOT from the tray icon), the main window is showing but is completely unresponsive. Only when selecting "restore" from the tray icon, the form gets accessible again.

@josegomez, do we want this fixed in 0.1.2.0 or shall we defer this to the next milestone?

[2020-04-25 15:15] josegomez commented on #152
How intrusive is it @alexhauser ?

[2020-04-25 15:22] alexhauser commented on #152
Well, I'm afraid a normal user will be kinda lost after minimizing the app once.

[2020-04-25 15:46] josegomez commented on #152
Well if it’s that intrusive we’ll have to fix it 😑

[2020-04-25 18:54] alexhauser commented on #146
@josegomez, with #153 merged, I think we can close the milestone and start testing, right?

[2020-04-25 19:11] josegomez commented on #146
Yes

[2020-04-25 19:13] josegomez commented on #146
GitHub API is being stupid still I think so we’ll see if the assets get loaded

[2020-04-25 19:18] #152 closed

[2020-04-25 21:22] #146 closed

[2020-04-26 07:10] alexhauser commented on #143
@josegomez, I suppose we only close this one once we have 7-zip support baked into the script, right?

[2020-04-26 07:14] alexhauser opened #154 "Expose installer version"
### Description:

PHolder in the forums suggested to expose the version number of the installer, see https://sqrl.grc.com/threads/windows-testing-feedback.1112/post-9443.

Should be a quick fix to add a log line with the version on startup and maybe also integrate it somewhere in the UI.

[2020-04-26 08:28] dreamcat4 opened #155 "[Installer]: Detect and fill in correct install path"
Every time I run the updater, SQRL fills in the intall path as `/home/id/SQRL` however my local install of sqrl is not located there. That was just the default install path.

![](https://i.imgur.com/jIiHOWw.png)

So every time I update SQRL with the built in updater, I have to click the Install Path... button and re-navigate back to that folder.

The updater should be smart enough to work that bit

[2020-04-26 08:34] dreamcat4 commented on #155
In fact there is another issue related to the manual selection of the install  update folder. Because the updater is not smart enough to see and detect the user already selected the `SQRL` folder itself. Rather than the parent folder. And it automatically then appends another `SQRL` subfolder tacks that onto the end there. This has caused my folder to then get screwed up with 2 copies of SQRL clie

[2020-04-26 08:50] alexhauser commented on #155
Thanks for reporting, @dreamcat4!

The first issue (detecting a cusom installation path) should already be partly handled by #141, so next time the installer is run by the client detecting an update, it should be handled correctly. However, I think when running the installer manually, this might still be an issue, and we'll have to look into this.

The second point you raised (blindly appending `S

[2020-04-26 08:53] alexhauser commented on #155
@josegomez, I guess we'll have to find a way to remember the installation path.

On Windows, no big deal, we just create a registry entry for that. But how do we handle it on Linux and macOS? Anyone knows a "standard compliant" way of doing it on those platforms?

[2020-04-26 09:22] alexhauser commented on #155
Just posted a PR for the second part of this issue, see #157.

[2020-04-26 10:42] dreamcat4 commented on #155
Glad to hear its already getting looked at... and oh yeah sorry i forgot to mention this was occuring on linux. In case you need me to come back and test these intended fixes. to make sure its also working for that platform. Thank you.

[2020-04-26 11:45] dxcSithLord commented on #155
The standard way to remember stuff on *nix is to set up an environment variable, which can either be system wide and refer to the user $HOME directory for individual locations, or can be overridden by an individuals file in their own home directory, that defines a different path.  Depending on the shell environment, the variables would be set up in slightly different files.  Ubuntu (which uses BAS

[2020-04-26 11:50] #154 closed

[2020-04-26 12:17] alexhauser commented on #155
@dxcSithLord, environment variables are the obvious choice, but they have their own set of problems, the most important of them being that they are shell-dependant. Not everyone uses Bash.

However, if we don't find a better solution that works across all distros and shells, I guess we're pretty much stuck with envirnoment variables.  Placing a shell script in `/etc/profile.d` seems to be the pref

[2020-04-26 14:51] alexhauser opened #158 "[Windows] Installer does not create desktop icon"
As reported in the forums, the installer does not create desktop icon for some users.

[2020-04-26 15:09] dreamcat4 commented on #155
Hmm. Well if you save some path to `/etc/profile.d` then presumably you cannot have multiple per-user installs of SQRL on the system. Well that could be an issue if there is a user who installed it as a per-user program inside their `$HOME` folder. Then you are writing that location into `/etc/` is maybe not the right thing to do. At least on multi user UNIX platforms. What would be better is to h

[2020-04-26 15:19] dreamcat4 commented on #155
Ah so this is the place it is doing that

https://github.com/sqrldev/SQRLDotNetClient/blob/master/SQRLDotNetClientUI/ViewModels/MainMenuViewModel.cs#L322-L371

[2020-04-26 15:24] dreamcat4 commented on #155
So what I don't understand here is why this is not [already passing the install target location as cmdline arguments here](https://github.com/sqrldev/SQRLDotNetClient/blob/master/SQRLDotNetClientUI/ViewModels/MainMenuViewModel.cs#L346) with the `Path.GetDirectoryName(Assembly.GetExecutingAssembly().Location)`...

or if that is not it then I would fully expect for .NET to let you to set any custom

[2020-04-26 15:27] josegomez commented on #155
@dreamcat4 it does already pass it but that was a new enhancement that we added in this release.
So going forward it will do that when an update is found.
Unfortunately the installer will always be one version behind when the update runs

Since we need to use the installer to download the next version

So if we were to release another update now, then your installer would indeed pass the current l

[2020-04-26 15:42] alexhauser commented on #155
@dreamcat4 you're probably right that exporting the env var from `/etc/profile.d` would not work well for a multi-user system and therefore isn't the right approach.

What we need is a way for setting a global, persistent, per-user, shell- and distro-agnostic environment variable that the installer can read when being launched manually.

[2020-04-26 17:17] josegomez commented on #155
Haha what we need is a windows registry! Actually what we need is windows period 😜

[2020-04-26 18:51] dreamcat4 commented on #155
Ah ok sorry for not understanding earlier. The main thing to realize is that *NIX systems have evolved over many years. So there are multiple different mechanisms. Which all end up getting used for various different types of programs. So you have some choice to make which to acutally use, each mechanism has it's own different set of advantages and disadvantages. Depending on what you might prefer.

[2020-04-26 19:09] alexhauser commented on #155
Thanks for elaborating @dreamcat4, very much appreciated!

Considering all the input above, I'd opt for using the lowest common denominator, which would be using the XDG spec and writing the install path into a file such as `$HOME/.config/sqrl/sqrl.conf`

What do you think, @josegomez?

[2020-04-26 19:16] dreamcat4 commented on #155
Of course what would be best here is if there were already some `.NET` apis or libraries which did all the heavy lifting for you. So that you didn't need to worry about how to handle these things yourselves.

I am not sure if already exists in .NET land libraries specifically for handling XDG configs. But that should be pretty simple and not different than reading / writing a config file from some

[2020-04-26 19:19] dreamcat4 commented on #155
Ah-ha! Here is another useful (better!) resource for understanding the XDG folders and `~/.config` in unix. Acually written for Go Language but at least the README shows clearly what all the folders are etc.

https://github.com/adrg/xdg

...Have not found any equivalent library that will do that in DotNET. But it's still a good example of what I was looking for i guess? Just in the wrong programmi

[2020-04-26 19:25] dreamcat4 commented on #155
SO yes if you are going XDG then read here https://github.com/adrg/xdg/blob/master/README.md

[2020-04-27 10:45] alexhauser commented on #155
As it turns out, .NET Core already follows the XDG basedir spec on Linux.

For example, `System.Environment.SpecialFolder.ApplicationData` maps to `XDG_CONFIG_HOME`, which in turn defaults to `$HOME/.config`.

One more reason to use this approach I guess.

[2020-04-27 12:48] dxcSithLord commented on #155
I haven't read everything since I was last here, but I think you have worked this out.  Note(if not already said) that the global settings would use $HOME for the users directory.  SQRLDotNet, could use
$SQRLDotNet  = $HOME/SQRL
$SQRLDotNetDB = $SQRLDotNet/sqrl.db
as defaults and hence if the user did want to change the setting, they would only need change these variables to configure it.  This is

[2020-04-27 13:00] alexhauser commented on #155
Thanks for all the valuable input @dxcSithLord and @dreamcat4!

I think I have a better understanding of how to approach this now, looking forward to you guys/gals checking out what we'll come up with, probably in the upcoming version 0.1.3 release.

[2020-04-27 13:35] josegomez commented on #158
This should work, it is handled here
https://github.com/sqrldev/SQRLDotNetClient/blob/f1c5dc0ac3040e1f4c9b3f091c941962641fd645/SQRLPlatformAwareInstaller/ViewModels/VersionSelectorViewModel.cs#L439-L462

I am not sure what could case it to not work, we probably need to add more logging.

[2020-04-27 13:36] josegomez commented on #133
@alexhauser Working on this one.

[2020-04-27 13:57] josegomez opened #159 "[Installer] Provide Uninstall Support (Platform Specific)"
We need to provide uninstall support
We should modify the installer to take a command line argument that tells it to uninstall
We need to modify the Windows version to add an entry in Add/Remove programs
For Linux / Mac maybe we add an entry in the Program Itself to invoke the uninstaller since there isn't really a standard
We need to update the installer to keep a "log" record of all files and en

[2020-04-27 15:08] alexhauser commented on #158
Hmmm... only thing that quickly comes to mind is that maybe the PowerShell security model (aka `ExecutionPolicy`) kicks in. But that should usually only happen for scripts downloaded from the internet afaik.

So yeah, we'll need some logging there for sure.

[2020-04-28 08:35] alexhauser opened #160 "[Linux] Garbled window contents after restoring from tray icon"
### Description:
As seen in our own testing, and now confirmed by a forum user, sometimes when restoring the main window from the tray icon on Linux, the window contents are garbled:

![VirtualBoxVM_2020-04-28_09-14-24](https://user-images.githubusercontent.com/4005543/80465614-a0ad2900-893b-11ea-8bba-e95e9f63214a.png)

Hitting "restore" again from the tray icon's menu usually fixes this. Sometime

[2020-04-29 06:25] alexhauser commented on #159
@josegomez, I would like to suggst to adopt the implementation interface model that we have in the client (e.g. for `NotifyIcon` etc.) for the installer as well.

At the moment, we have methods like `InstallOnWindows()`, `InstallOnLinux()`, `InstallOnMac()` and the view models already become quite messy.

It would be nice if we just had an `IInstaller` interface that we could call `Install()` or `

[2020-04-29 11:04] josegomez commented on #159
Sounds good!

[2020-04-29 13:57] josegomez opened #161 "Error checking around Tray Icon"
Linux has 230952359672076 flavors and just as many Window Managers. Our current Tray Icon relies on GTK being available as well as a Notifications Deamon and a standard Dock Bar.

This is a problem in several minimalist or different Linux distros have different packages available and it causes issues.

We need a way to do exception handling around the Tray Icon so that if it can't be used or doesn

[2020-04-29 15:20] #155 closed

[2020-04-29 15:23] alexhauser commented on #155
@dreamcat4, the next installer release will remember the installation path.

You'll still have to enter the correct path once more though, since we're not detecting a cusom install path that was set using an older version, sorry.

[2020-04-29 15:42] josegomez opened #163 "Upgrade to Avalonia 0.9.9"
Avalonia Released 0.9.9 which fixes several bugs including potentially #160

[2020-04-29 16:37] josegomez commented on #160
Can confirm that this indeed NOT fixed in 0.9.9
Issue https://github.com/AvaloniaUI/Avalonia/issues/2994

Clicking anywhere on the screen or moving the screen around fixes this glitch BTW

[2020-04-29 17:37] alexhauser commented on #159
@josegomez, I would like to look at this one next.

[2020-04-29 17:54] josegomez commented on #159
Perfect

[2020-05-02 15:42] #159 closed

[2020-05-02 17:38] alexhauser commented on #160
Looks like it's getting fixed upstream.

[2020-05-02 17:56] dxcSithLord opened #166 "Linux/Ubuntu18.04.04/Firefox75.0 (64-bit) - UI crash when quick pass is used"
Compiled locally with latest and ran to test on upgraded Wordpress site via Firefox with test identity
1. cd ~/src/SQRLDotNetClient/SQRLDotNetClientUI
2.  git pull
3.  dotnet clean
4.  dotnet build
5.  dotnet run
GUI displayed.  Clicked on "Import identity".  Pasted in previous "test" identity, including hyphons.  Copied rescue code, including hyphons, removed the last two hyphons from the code (k

[2020-05-02 17:59] dxcSithLord commented on #166
Re-launch and the Identity is still loaded, deleted and no crash this time:
dotnet run
[18:33:22 INF] New app instance is being launched on Linux 4.15.0-99-generic #100-Ubuntu SMP Wed Apr 22 20:32:56 UTC 2020
[18:33:22 INF] DB Directory: /home/sithMagic/src/SQRLDotNetClient/SQRLDotNetClientUI/bin/Debug/netcoreapp3.1
/home/sithMagic/src/SQRLDotNetClient/SQRLDotNetClientUI/bin/Debug/netcoreapp3.1: T

[2020-05-02 18:06] dxcSithLord commented on #166
Title wrong - crash when Quick Pass is used (note that the SQRL url isn't working on click, so opened in new window.

[2020-05-02 18:16] alexhauser commented on #166
@dxcSithLord I can see what's happening, there is a sanity check missing for the `password` parameter in `QuickPassManager.SetQuickPass()`. I'll post a fix shortly.

Thanks for reporting!

[2020-05-02 19:04] #166 closed

[2020-05-02 19:04] #163 closed

[2020-05-02 20:12] #161 closed

[2020-05-03 07:46] alexhauser commented on #102
Finally finding some time to look at this, the solution to this mistery turns out to be quite simple:

[code]
So Steve turns off the `sqrl://` link invokation on the demo page for Linux ON PURPOSE, as long as no `sqrl` string is present in the user agent header. I don't think we can fix this without Steve, can we?

At least, we know now that everything is working as it should on our side.

CC @jos

[2020-05-03 09:59] alexhauser commented on #127
Working on this one right now, @josegomez!

[2020-05-03 13:41] josegomez commented on #102
Nice!!!!!!

[2020-05-03 18:10] #127 closed

[2020-05-03 19:31] alexhauser commented on #130
@josegomez, I'm going for this one next!

I'll try to implement it the way the GRC client does it, with CPS constantly listening, and come up with a way to synchronize CPS and sqrl:// scheme invocation to avoid a race condition.

[2020-05-03 19:38] alexhauser commented on #102
I've pinged Steve on Twitter and asked him if he would consider removing the blocking of the `sqrl://` scheme invocation for Linux on the demo page. I'll report as soon I receive any feedback.

[2020-05-03 20:30] josegomez commented on #102
Sounds good, can't we just push sqrl as part of the user agent? I'm guessing that's not trival

[2020-05-03 20:38] josegomez commented on #160
Sweet looks like there's a PR To Address it
https://github.com/AvaloniaUI/Avalonia/pull/3876

Hoping it will get merged soon and hopefully pushed on the next release of Avalonia

[2020-05-03 20:42] alexhauser commented on #102
Even if we could, it would feel wrong on so many levels to have to mess around with the browser's user agent header.

[2020-05-06 10:01] dxcSithLord commented on #102
I have and another search into this and the answer may be in DBUS interaction, since this is part of the freeDesktop.org "standard", this may be different on Unix that does not use freeDesktop standard, but that list is short (hopefully).  Since Linux is based on "Free", this should cover all Linux flavors.
To make life more interesting "SCHEMA" in Linux/Unix refers to application schemas, not jus

[2020-05-06 19:06] alexhauser commented on #102
@dxcSithLord, thanks for your input. As it turned out, what we did on Linux was always working as expected, but Steve has deliberately crippled the demo site's ability to invoke the `sqrl://` scheme on Linux (see posts above).

I will post a PR shortly that will change the way we deal with CPS, which effectively will work around this issue. Stay tuned.

[2020-05-06 20:21] #102 closed

[2020-05-06 20:21] #130 closed

[2020-05-07 07:05] alexhauser opened #172 "Drop CPS queries that contain an "Origin:" header"
The SQRL spec says:

HTTP 302 Found reply. Since this reply contains the authentication token, we must assure that this
is only received by the web browser and not by any JavaScript that might be running on an
untrusted and possibly fraudulent sign-in page. If JavaScript were to use an XML HTTP Request
(XHR), or similar, to query the SQRL web server at localhost:25519, it would obtain the HTTP 302

[2020-05-07 08:09] alexhauser commented on #117
For the record, it's those two identity flags that are relevant for this issue:

--------------------------------------------------------

Flag `0x0010`

notify its user when the web server indicates that an IP address mismatch exists
between the entity that requested the initial logon web page containing the SQRL
link URL (and probably encoded into the SQRL link URL's “nut”) and the IP
address fr

[2020-05-07 10:00] alexhauser commented on #117
I'm working on this one @josegomez, but ran into a problem:

When testing the MITM stuff on https://www.grc.com/sqrl/nospoof.htm using the red "Spoof with SQRL" button, I get a command failed (TIF `0x40`) which prevents me from testing the IP mismatch. Any idea what's going on there?

[2020-05-07 10:08] josegomez commented on #117
Weird not sure I’ll poke about

[2020-05-07 12:44] alexhauser commented on #160
The PR mentioned above was just merged into master in Avalonia, so we should be able to get the fix for this issue with the next Avalonia release!

[2020-05-07 15:10] josegomez commented on #117
@alexhauser
Here's the issue
![image](https://user-images.githubusercontent.com/420837/81311075-f0ce6e80-9052-11ea-9892-8e8c0b27cd88.png)

So on the Authentication Model line 337
https://github.com/sqrldev/SQRLDotNetClient/blob/d43ebab283ac17d5638c5dfe95f17e30c58fede9/SQRLDotNetClientUI/ViewModels/AuthenticationViewModel.cs#L336-L349

We check for Command Failed 40 but we aren't checking the IPMat

[2020-05-07 15:54] alexhauser commented on #117
Thanks for the pointer, @josegomez!

I've read all the docs regarding MITM protection and CPS but must have missed the stuff about the "noiptest" flag, sorry! I know how to proceed now, though! Thanks again!

[2020-05-07 15:55] #172 closed

[2020-05-07 16:04] josegomez commented on #117
One more thing I noticed while doing this research apparently we are only  supposed to send in CPS Option flag is we have an established / pending CPS session (already)
![image](https://user-images.githubusercontent.com/420837/81317317-b2d54880-905a-11ea-932d-60ef8583fa83.png)

Currently our SQRL Options are hard coded in line 333
https://github.com/sqrldev/SQRLDotNetClient/blob/d43ebab283ac17d563

[2020-05-07 16:19] josegomez commented on #160
0.9.10 Dropped this morning however looks like this merge didn't make it onto that one :'(

[2020-05-07 16:26] alexhauser commented on #117
I will look into this @josegomez, since I'm deep into the CPS stuff right now anyway.

[2020-05-07 16:27] alexhauser commented on #160
No, unfortunately it came in right after they released 0.9.10. 😥

[2020-05-07 21:01] josegomez commented on #133
So just as an FYI I just discovered that the Migrate() call on App.cs generates a new DB if the DB doesn't exist.. Which is pretty damn cool

[2020-05-08 18:08] dxcSithLord commented on #158
This may (or may not help).  First test for SQRLDotNetClientUI - install, launch and create new ID.  This failed with a crash (yes I know this looks like a new issue).  As I have installed dotNet, I launched using
`dotnet SQRLDotNetCLientUI.dll` with the same result, but I received some logging (See below).  This appears to be missing the libsodium, which if you are using powershell - ANY UNSIGNED

[2020-05-08 18:18] dxcSithLord commented on #158
Same problem if I re-install as administrator and run as administrator, using
`PS C:\Program Files\SQRL> dotnet .\SQRLDotNetClientUI.dll`
Install log attached
[SQRLInstallerLog20200508.log](https://github.com/sqrldev/SQRLDotNetClient/files/4600814/SQRLInstallerLog20200508.log)
SQRLPlatformAwareInstaller version 0.1.2.0

[2020-05-08 19:02] dxcSithLord commented on #158
I downloaded the (current) master and ran `dotnet build`.  Using the built installer, with execution policy set to Restricted, no desktop shortcut.  Re-ran with execution policy set to unrestricted and desktop shortcut exists.  Installer ran with elevated privileges.  I was hoping the problems were related, but perhaps not.

[2020-05-08 19:05] josegomez commented on #158
@dxcSithLord are you using the installer to install this?

I'm a little confused as to how you got here, you installed using the installer and then it immediately crashed when you launched it complaining about libsodium? Is that' what I'm understanding here?

[2020-05-08 19:09] dxcSithLord commented on #158
Here is a PSR recording attached - they show what I did - the logs show what happened in the background.
[SQRLCLient_Test_1_New_Id_Fail.zip](https://github.com/sqrldev/SQRLDotNetClient/files/4601089/SQRLCLient_Test_1_New_Id_Fail.zip)
[SQRLCLient_Test_2_Help_and_New_Id_Fail.zip](https://github.com/sqrldev/SQRLDotNetClient/files/4601090/SQRLCLient_Test_2_Help_and_New_Id_Fail.zip)

[2020-05-08 19:12] dxcSithLord commented on #158
Perhaps not using powershell to create the shortcut (see ref [https://stackoverflow.com/questions/4897655/create-a-shortcut-on-desktop](https://stackoverflow.com/questions/4897655/create-a-shortcut-on-desktop) ) may be an option?
I was hoping that the two problems were related.

[2020-05-08 19:12] josegomez commented on #158
Wonderful thank you @dxcSithLord this looks like a new issue so I'm opening a new one

[2020-05-08 19:12] josegomez opened #175 "Detect VC++ Runtime (missing)"
This may (or may not help).  First test for SQRLDotNetClientUI - install, launch and create new ID.  This failed with a crash (yes I know this looks like a new issue).  As I have installed dotNet, I launched using
`dotnet SQRLDotNetCLientUI.dll` with the same result, but I received some logging (See below).  This appears to be missing the libsodium, which if you are using powershell - ANY UNSIGNED

[2020-05-08 19:13] josegomez commented on #175
See Recordings here
https://github.com/sqrldev/SQRLDotNetClient/issues/158#issuecomment-625971259

[2020-05-08 19:19] josegomez commented on #158
Gets tricky with .netcore can't bring along any windows specific references without other issues. That's why we opted to go external (powershell)
I'll poke about some more

[2020-05-08 19:51] josegomez commented on #175
@dxcSithLord found the issue, for LibSodium to work on windows you need VC++ Runtime.
This little guy
https://www.microsoft.com/en-us/download/details.aspx?id=48145
If you download and run that then the program works as expected (shortcut issue aside)

[2020-05-08 19:52] #133 closed

[2020-05-08 20:03] josegomez commented on #175
Looks like we should check the following Keys

[code]

[2020-05-08 20:35] dxcSithLord commented on #175
I have restored the machine, back to a baseline (never before seen SQRL).
I ran the installer as administrator and the desktop icon appears (FYI), but I have confirmed the keys:
Get-ChildItem hklm:softwaRE\microsoft\ | findstr /I "visual"
                               VisualizationsDir         : C:\Program Files\Windows Media Player\Visualizations
Get-ChildItem hklm:softwaRE\wow6432Node\microsoft

[2020-05-08 20:43] josegomez commented on #175
great @dxcSithLord now see if New Identity button works (it shouldn't) then install the VC runtime and that should fix it.

[2020-05-08 21:07] dxcSithLord commented on #175
I have installed vc_uwpdesktop.140.exe from [https://www.microsoft.com/en-us/download/details.aspx?id=53175](https://www.microsoft.com/en-us/download/details.aspx?id=53175), but fails.  The instructions for VS14.0 suggest that the following is required there is a reference to be applied to the app.
I also tried with VC_redist.x64.exe, which appears to be the latest and after installing that, the S

[2020-05-08 21:15] josegomez commented on #175
@dxcSithLord I provided the link above what you need is the VC++ redistributable (the second one you installed) not sure where vc_uwpdesktop came from.

https://www.microsoft.com/en-us/download/details.aspx?id=48145

But thanks for confirming that fixes the issue.

[2020-05-09 13:11] #158 closed

[2020-05-09 14:25] ghost commented on #160
More information about this bug. If you wait a few seconds after clicking the restore option of the SQRL icon in the top bar the correct information displays. It appears to be a delay in processing what information should be displayed.

[2020-05-09 14:27] ghost commented on #160
MacNala is Alan M Cameron by a previous github signin.

[2020-05-09 14:33] alexhauser commented on #160
@MacNala, thanks for reaching out. We've already found the root cause for the issue, and it's actually a problem in one of the libraries we use, so not directly related to our code. The good news is that there is already a fix coming, we'll just have to wait for the next release of the Avalonia UI library, wich should happen sometime in the beginning of June according to the devs there.

[2020-05-09 14:59] alexhauser commented on #117
@josegomez, doing a little testing on this using GRC's diagnostics page https://www.grc.com/sqrl/diag.htm, it seems to me that Steve's client is doing exactly the same as we do, which is adding the `cps` option to each and every query, also to the very first one:

![opts](https://user-images.githubusercontent.com/4005543/81477115-3ab38200-9216-11ea-85cf-b0118fabc550.PNG)

So I guess we can leave t

[2020-05-09 15:46] MacNala opened #177 "New Identity - Variation in output"
When you create a new identity and have successfully entered the Rescue Code you are presented with a dialog to Export Identity. There are two options the second talks about the Super secure Rescue Code. If you choose that option the output is the pdf which is headed _username_ SQRL Identity.
This has three sections of descriptive text surrounding the QR code and the textual version of the code. T

[2020-05-09 16:12] alexhauser commented on #177
You're right @MacNala, the descriptive text should be changed according to the chosen export option. This needs to be fixed.

Great catch, thank you!

[2020-05-09 17:28] josegomez commented on #117
Evening if CPS isn’t established? 🤔

[2020-05-09 18:04] alexhauser commented on #117
Yep. I mean, we can do it only on the `ident` command as well, I had that running without any problems already. But since Steve is also sending the `cps` option right from the beginning, I would tend to leave it as is.

[2020-05-09 18:48] MacNala opened #178 "Export Identity looping back"
In the creation of a new identity when you get to the choice of secure or super secure. The Back button loops back to the verify new identity and then again the back button loops back to the Export Identity dialog. this should not be allowed the second back button should cancel the creation and return to the Create New Identity step.

[2020-05-09 18:59] ghost commented on #178
Additional problem associated with #178
Closing the erroneous Export Identity and attempting to restore from SQRL icon reshows the Export Identity dialog. It should show the initial Sqrl Client Identity actions.

[2020-05-09 20:48] MacNala opened #179 "Importing Identity - no difference between *.sqrl and *.sqrc"
_I think there should be a difference between the importing an identity from a file with the extension *.sqrc and *sqrl.
There doesn't seem to be in both cases you are asked for the Rescue code.
I thought the one with *.sqrc was including the rescue code and the *.sqrl was without it.

[2020-05-09 21:12] alexhauser commented on #178
Thanks for the report Alan, we'll look into it!

[2020-05-09 21:17] alexhauser commented on #179
Yep, we should definitely allow importing `*.sqrl` files without requiring the rescue code. Again, great catch, Alan!

[2020-05-10 08:10] alexhauser commented on #117
OK, I think I know what's going on now. Will explain in the upcoming PR.

[2020-05-10 10:25] alexhauser commented on #179
@josegomez, tackling this one next!

[2020-05-10 13:38] #117 closed

[2020-05-10 13:39] #177 closed

[2020-05-10 13:40] #178 closed

[2020-05-10 13:40] #179 closed

[2020-05-10 13:42] alexhauser commented on #175
Working on this right now, @josegomez!
I dont't think we need to check the 32bit stuff though, do we?

[2020-05-10 14:19] josegomez commented on #175
Well if there’s someone running 32 bits maybe? If it isn’t a ton of effort I’d say we check it but up to you

[2020-05-10 14:24] alexhauser commented on #175
Are we even offering x86 releases, @josegomez?
All our assets end in `_x64`.

I'm looking into quietly installing the vc++ redistributable runtime if it isn't there already, and and if we only have x64 binaries anyway, that would reduce the effort both for checking and installing the right version.

[2020-05-10 14:30] josegomez commented on #175
Sounds good!

[2020-05-10 17:34] alexhauser opened #186 "Add multi-page support to PdfHelper"
### Description:
The `PdfHelper` class currently does not support page breaks. This could result in data loss, if the identity data is long enough to exhaust all the available space on the first page.

We should thereofore implement multi-page support before someone learns this the hard way:

![pdf_multipage](https://user-images.githubusercontent.com/4005543/81506234-314d1700-92f5-11ea-8a56-522c36

[2020-05-10 18:23] dxcSithLord commented on #175
I compiled this on Raspberrypi - that 32bit operating system called Raspbian (a clone of Debian), and i had the same problem.  Crash on new id.  Haven't yet found download link to install visualstudio runtime for linux ARM 32bit.  Note this edge case has more than 12million potential installations (last time I saw the number of Raspberry Pi sales figures advertised).

[2020-05-10 19:14] alexhauser commented on #175
@dxcSithLord, I doubt that the VC++ runtime is involved in the build of libsodium for Debian/Raspbian. Are you sure that libsodium is installed at all?

[2020-05-10 19:14] josegomez commented on #175
@dxcSithLord there is no vc for raspberry but you shouldn’t need it
I’m guessing what you need for it is gcc and lib c and lib sodium for pi

[2020-05-11 09:55] dxcSithLord commented on #175
I thought that the lib sodium was part of the install?  Anyway, simple fix :
sudo apt update
sudo apt install libsodium-dev
(Note that sudo elevates privilege and is required for package management)

If this is already installed the package management handles that - returns success if at the end it is installed.
Let me know if you want to test for existence, or result of this command and I can pro

[2020-05-11 10:08] josegomez commented on #175
Awesome @dxcSithLord
Yes lib sodium is included for Linux but only x86 not arm

[2020-05-11 10:12] dxcSithLord commented on #143
For Linux (not sure about MacOS), you can check that zip, or gzip, are installed - most distros have them by default, but you can use
sudo apt install gzip
to install gzip that will handle zip files
tar is on linux, I can nearly guarantee that, since most files at some point on Linux/Unix get tar'd (Tape ARchive)
To confirm/prerequisite:
sudo apt install tar

You may be starting to see a theme her

[2020-05-11 11:23] dxcSithLord opened #187 "Linux-Arm-32bit-Out of memory error"
Running on Raspbian 32bit ARM - compiled from source.
Attempting to create New ID.  Rescue code generated and saved to PDF, new name and password entered for ID.  Click to create the ID and "Out of memory error" is displayed.  Log from "dotnet run" attached:
[Create_New_SQRL_ID_Failure.log](https://github.com/sqrldev/SQRLDotNetClient/files/4609211/Create_New_SQRL_ID_Failure.log)
Further debug will

[2020-05-11 11:38] alexhauser commented on #187
@dxcSithLord, the system is simply out of main memory (RAM).

The fact that this happens on the call to `scrypt` reinforces the point, since `scrypt` is a "memory-hard" key derivation function, which means it deliberately uses RAM to thwart the use of specialized hardware implementations.

What Raspi model are you running on, and how much main memory (RAM) do you have?

[2020-05-11 11:42] alexhauser commented on #143
Are there really any relevant distros (apart from do-it-yourself distros like LFS etc. ) that doesn't support `tar` out of the box? I would be shocked.

[2020-05-11 12:32] dxcSithLord commented on #187
Pi 4B with 4G RAM, 1.9G Free when the process is running.  How much memory does enscript require?
I am going to run strace on the process later to get more details - it should show what it is trying to claim.  There may also be a kernel limit on how much memory a user space application can grab, I will check that too.
Is there a test that I can run to help debug this, SQRLUtilTests perhaps?  If so

[2020-05-11 13:50] alexhauser commented on #187
That does sound like plenty. SQRL's default `scrypt` parameters specify a memory consumption of 16MB. So there must be something else going on.

[2020-05-11 15:59] josegomez commented on #143
@dxcSithLord this issue isn't one of the code at all is just a reminder for us to update your build scripts to use tar.gz compression to preserve executable bit.
Nothing to fix (other than the build scripts)

[2020-05-11 16:18] #175 closed

[2020-05-11 17:41] alexhauser opened #188 "Installer crashes when client is running during installation"
### Desctiption:
The Installer crashes when the client is running during installation.

[2020-05-11 17:45] alexhauser opened #189 "Set correct working dir when launching client from installer"
### Description:
When ticking the checkbox in the very last installer step to launch the client directly from the installer, the working directory of the client is set to the location where the installer was being run from.

This needs to be fixed.

[2020-05-11 22:57] dxcSithLord commented on #187
I found where the problem is, more digging tomorrow:
from SQRLUtilsLib/SQRL.cs around line 240 (I added some debug statements):
Log.Information($"Running EnScryptTime for {secondsToRun} seconds");

            byte[] passwordBytes = Encoding.ASCII.GetBytes(password);
            DateTime startTime = DateTime.Now;
            byte[] xorKey = new byte[32];
            int count = 0;

            Log

[2020-05-11 23:49] josegomez commented on #187
Right it’s running the scrypt algorithm that is causing the memory limit which makes sense

[2020-05-12 10:09] dxcSithLord commented on #187
What is different between libsodium 1.0.17-1 and 1.0.18?  The published one for Raspbian (form apt packager) is the earlier version, but I see the code is using a later version.  I don't expect this to be the problem, just getting info).  I am also going to try this on Debian 32bit, to see if it is specific to ARM or 32bit.

[2020-05-12 10:25] alexhauser commented on #187
Without having checked, I don't expect the version difference to be the cause of the troubles you're seeing, either.

Yep, good idea. Since we've never published nor tested the client for 32-bit architectures, it might very well be a problem with libsodium on 32-bit in general.

Looking forward to your testing results.

[2020-05-12 14:14] #189 closed

[2020-05-12 14:14] alexhauser commented on #188
Working on this one right now, @josegomez!

[2020-05-12 15:10] alexhauser opened #191 "Change default install path on Linux"
### Description:
On Linux, we currently install the client into a subdirectory named `SQRL` within the user's home directory, so for example `/home/alex/SQRL`.

This is exactly the directory that we end up with when moving the database to "user space" on Linux, since `Environment.SpecialFolder.MyDocuments` maps tp the user's home folder (e.g. `/home/alex`) , and our `PathConf.DefaultClientDBPath`

[2020-05-12 15:19] josegomez commented on #191
I would lean towards more /usr/bin or /usr/local/bin than /opt
opt appears to be more of a support file storage location and less executable.
But frankly it doesn't matter, as long as we keep it consistent.
I'll defer the call to you

[2020-05-12 18:55] alexhauser commented on #191
@josegomez, `/usr/bin` is usually reserved for stuff that comes through the package manager.

As for `/usr/local/*`:

Whereas `/opt`:

Sounds like `/opt` would be the proper place to put it according to the `Filesystem Hierarchy Standard` linked below. This is also where I was leaning towards.

For reference, see:
http://www.extradrm.com/?p=2266 or
https://www.pathname.com/fhs/pub/fhs-2.3.html

So

[2020-05-12 20:03] alexhauser opened #193 "Disable changing install path on macOS"
### Description:
As discussed, we should disallow changing the default installation path on macOS.

[2020-05-13 05:31] #188 closed

[2020-05-13 12:30] dxcSithLord commented on #187
So I have an up to date debian 10 (32 bit) "Buster", but it does not appear that dotnet sdk is available for linux 32bit (x86).  I will need to think on this and look into how to get more logging out of the code.  My feeling is that there is a data type, or assumption that is failing when running 64bit design on 32 bit OS.  I can't see anything obvious in the code, so pinning it down is next.  My

[2020-05-13 12:37] dxcSithLord commented on #187
Found how to build dotnet sdk from source, so I will try that.

[2020-05-13 14:49] alexhauser opened #196 "Elevate installer when being run from client on Linux"
### Description:
Now that we install to `/opt/SQRL`, the Installer needs to be run using `sudo` or as `root`. So we also need a way to elevate the Installer when it's being run programmatically from the client.

[2020-05-13 14:50] #193 closed

[2020-05-13 15:15] #191 closed

[2020-05-13 16:28] josegomez opened #197 "Update Installer before Installing Update"
Because the Installer / Updater is included in the zip file with the latest version of the software. When an update is detected, the OLD installer is used to install the latest update (and update the installer)

The issue there is that if there are changes in the new installer that we need applied that won't happen until the next time the installer/updater is run.

We need to find a way to FIRST u

[2020-05-14 12:20] alexhauser commented on #197
Sounds like a viable plan, @josegomez!

I can't think of any "better" approach right now, so if you want to go ahead with this, please feel free!

We'll just need to make sure that downloading and unzipping is the very first thing the installer does, and that it leaves all other steps to its successor.

Also, we should agree on a common way of handling command line arguments for the installer. At

[2020-05-15 13:42] #186 closed

[2020-05-17 20:31] josegomez commented on #196
Closed by #200

[2020-05-17 20:31] #196 closed

[2020-05-19 14:56] alexhauser opened #201 "Implement Avalonia's notification system for update notification?"
I've recently compiled the Avalonia "ControlCatalog" sample app (https://github.com/AvaloniaUI/Avalonia/tree/master/samples/ControlCatalog.NetCore) because I was curious if there were any useful UI controls available in Avalonia that I didn't know of.

One thing that caught my eye was the builtin popup-notification feature:

![notification](https://user-images.githubusercontent.com/4005543/8234108

[2020-05-19 15:30] josegomez commented on #201
Could be indeed does it work well on our arch nemesis? (Linux)

[2020-05-19 15:40] alexhauser commented on #201
Haven't tested yet, but I just blindly assumed it would, given that it seems to be a "stock" Avalonia feature.

[2020-05-20 16:49] alexhauser commented on #201
Just checked, seems to work identically well on our dearest of friends as well.
(except for that the icon is missing, but I guess that's more of an implementation problem in the Control Catalog)

[2020-05-21 07:18] alexhauser commented on #197
I'll work on this one next, @josegomez.

[2020-05-24 15:18] alexhauser commented on #197
@josegomez, I basically have this working, but there are several problems which make me want to rethink the whole approach:

- It's all a HUGE MESS!
When the client launches the installer after it has found an update, it does so by copying the installer executable to `%TEMP%`. Now, when this "old" installer instance extracts the "new" installer binary from the update archive, it needs to find a di

[2020-05-24 16:10] josegomez commented on #197
Ugh yeah that's a huge mess...
OK how about the following changes.
Remove the ability to select a version, this just complicates things (always force the latest version) allow a command line switch for our testing where we can request a different version or a "pre-release" version.

Force the Installer Log to a specific location in user space. (once of them special folders?)
Then this flow,

If In

[2020-05-24 17:41] alexhauser commented on #197
This is (somewhat) taken care of already. I've implemented a `-v` or `-version` command line switch which gets passed to the installer and it will pre-select this release. Also, upon fetching releases from Github, the installer now writes the fetched releases into a json file in the temp directory. The "new" installer instance then fetches the releases from this file rather than having to go onlin

[2020-05-29 18:38] #197 closed

[2020-05-30 10:19] alexhauser opened #206 "Install path issue on macOS"
### Description:
The fact that on macOS, the "install directory" is not the directory where the client executable actually ends up is causing us troubles when passing in the "exe path" as the install path to the installer.

Since this is something we do right now, we end up with an installation path of `/Applications/SQRL.app/Contents/MacOS` in certain scenarios.

This needs fixing!

[2020-06-01 14:44] alexhauser opened #208 "Enable qr code import"
### Description:
Enable importing a SQRL identity by scanning its QR code using the system's default web cam / capture device.

I'm currently working on this one, @josegomez.

[2020-06-01 14:54] josegomez commented on #208
Cool!

[2020-06-01 17:25] #206 closed

[2020-06-10 18:30] josegomez commented on #88
Looked at this is, it is currently not possible due to several limitations. Wont fix for now.

[2020-06-12 14:56] alexhauser commented on #208
@josegomez, short status report:

The whole thing started working flawlessly on Windows in no time:
<img src="https://user-images.githubusercontent.com/4005543/84515462-ca909400-accc-11ea-87f5-82e0098ccc29.gif" width="300">

Then, guess what?! I began testing on Linux and macOS and everything started falling apart. 😆

[2020-06-12 15:04] josegomez commented on #208
yeah... linux our old "friend" @alexhauser  LoL
Let me know if you need a hand. I was looking for something todo but frankly the open issues other than the one you are working on are either not our problem or  non fixable.

[2020-06-12 15:24] alexhauser commented on #208
I don't know... I'm currently using [OpenCVSharp](https://github.com/shimat/opencvsharp) for capturing frames from the webcam, but I have problems getting it running on Linux and haven't even tried macOS, since we have a general libgdiplus problem there (even with `mono-libgdiplus` installed our qr code import/export code fails at the moment - see https://github.com/dotnet/runtime/issues/27200).

[2020-06-12 15:26] josegomez commented on #208
hhaha nothing sounds more exciting than writing platform specific stuff. I dream of fighting with Linux and Mac in Particular
All joking aside I don't mind so if this is the way you think we should go throw me an interface and I'll take a crack at it.

[2020-06-12 15:36] alexhauser commented on #208
Cool, Jose! 👏

However, you may want to take a look at the current state of affairs first and evaluate yourself, since I might be overreacting ;-)

You could checkout the `import_qr` branch on my fork at https://github.com/alexhauser/SQRLDotNetClient and poke around a little if you like.

[2020-06-14 14:38] alexhauser commented on #187
@dxcSithLord, are you still working on this, or shall we close this issue?

[2020-06-15 05:06] dxcSithLord commented on #187
I would need to go into a debugger to examine all the parameters, but this looks like there is a parameter that goes above a value that goes out of memory on 32bit, but not 64 bit 2^33?  I cant progress this at the moment, so happy for it to be closed. If i need to I can reopen, when i have fix.

[2020-06-15 05:06] #187 closed

[2020-06-15 05:37] alexhauser commented on #88
We have another report for this in the forums at https://sqrl.grc.com/threads/linux-testing-feedback.1109/post-9577, this time with a screenshot, I thought I would re-post it here just for future reference:

![Screenshot from 2020-06-14 18_56_07](https://user-images.githubusercontent.com/4005543/84621257-69d6a680-aeda-11ea-98ad-f7c163845b6e.png)

@josegomez, I guess the "limitations" you are takin

[2020-06-15 10:12] josegomez commented on #88
I’ll look at this some more but yes the library we are using doesn’t allow us to use vectors

[2020-06-15 10:18] alexhauser commented on #88
How about querying the "correct" dimensions for the icon from the system before setting up the `NotifyIcon` and then just providing the properly scaled pixel image?

[2020-06-15 12:24] josegomez commented on #88
That may be an option not even sure where to start with that but I’ll take a look

[2020-06-24 20:31] josegomez commented on #208
@alexhauser i'm still here sorry I've been awol, life has gotten in the way but this is still in my #TODO!

[2020-06-25 05:53] alexhauser commented on #208
No worries @josegomez, we're absolutely not in a hurry!

[2020-07-09 11:02] dxcSithLord commented on #208
PyImageSearch has several blogs on QR detection code and images - have a look at this post, using Python, but the algorithm should be the same in .net:
[https://www.pyimagesearch.com/2018/05/21/an-opencv-barcode-and-qr-code-scanner-with-zbar/](https://www.pyimagesearch.com/2018/05/21/an-opencv-barcode-and-qr-code-scanner-with-zbar/)

[2020-07-09 12:03] alexhauser commented on #208
@dxcSithLord, thanks for the input. However, "the algorightm" is not the issue here. I know how to use the OpenCV library, and detecting barcodes is not a problem, either. The problem is, that the .NET port of the OpenCV library that we rely on for .NET, while working properly on Windows, currently fails to work on Linux and macOS.

[2020-07-13 14:03] josegomez commented on #208
@alexhauser  are we just waiting to finish this to release the next version I suppose? I'll try to work some on it this week. The ole J O B has been relentless lately.

[2020-07-13 14:07] alexhauser commented on #208
Yes @josegomez, but we can easily release without this one if we want. It's only an enhancement after all, nothing important! Your call! 😊

[2020-07-13 14:15] josegomez commented on #208
@alexhauser  we can wait is not like anyone is banging on our doors to finish this... I'm pretty sure unless a miracle happens SQRL in general is DOA :'(

[2020-07-13 14:21] alexhauser commented on #208
Amen, @josegomez.

[2020-07-13 14:31] #160 closed

[2021-01-05 15:35] ScottyZA opened #210 "[MacOS] Client not completing authentication"
Client version: SQRLDotNetClientUI version 0.1.2.0
OS: Darwin 20.2.0 Darwin Kernel Version 20.2.0: Wed Dec  2 20:39:59 PST 2020; root:xnu-7195.60.75~1/RELEASE_X86_64

Testing on the SQRL demo page: https://sqrl.grc.com/demo.

My client is receiving the NUT from sqrl://sqrl.grc.com but does nothing afterwards.

Logs from /Applications/SQRL.app/Contents/MacOS below:

[INF] Handling Open URL Event
[I

[2021-02-19 06:25] ScottyZA commented on #210
Apologies, I was using the Brave browser. Once I removed the built in blocking feature, the SQRL sign up worked.

[2021-02-19 06:25] #210 closed

[2021-02-19 06:35] alexhauser commented on #210
Thanks for letting us know, @ScottyZA!

[2021-02-25 19:54] JiCiT opened #211 "Project dead?"
Is this or any of the SQRL projects still active?  Looks like everything came to a halt around July 2020.

[2021-02-25 20:05] josegomez commented on #211
hi @JiCiT no it is not quite "dead" just haven't done much work on it since because well pandemic hit and we got busy. Plus steve seems to have wondered off quasy permanently etc. So its here and both me and @alexhauser are still around and active in general just not actively doing improvements at the moment.

[2021-02-25 21:15] JiCiT commented on #211
Thanks @josegomez.  So, it'll just stay beta for while. :-)

[2021-02-25 21:15] #211 closed

[2022-07-31 19:39] ghost opened #217 "Is it possible to integrate SQRL with webauthn? (question or feature)"
Hi all!

## Description
Is it possible to integrate SQRL with webauthn? (question or feature)

## Related Links
- https://github.com/Jaaap/SQRL/issues/20
- https://community.bitwarden.com/t/steve-gibson-from-grc-and-sqrl/26638
- https://community.bitwarden.com/t/sqrl-identity/273
- https://community.bitwarden.com/t/sign-in-using-qr-code-without-master-password/15727
- https://community.bitwarden.c

[2022-07-31 20:05] raphael-louis-andress commented on #217
Hi all!

[2022-07-31 20:16] ghost opened #218 "The progress and future of anonymity, security and privacy:"the password that cannot be cracked""
Spam

[2022-08-01 02:32] #218 closed

[2022-08-01 15:29] josegomez commented on #217
Closing as Spam

[2022-08-01 16:05] #217 closed